﻿/* ===== Usage ===== */
/*@include font-face(Roboto, "./assets/Roboto", normal, normal);*/
/* SCSS VERTICAL CENTERING*/
/*@include vertical-center();*/
/* SCSS ADD VENDOR PREFIXES TO ANY CSS PROPERTY*/
/* @include css3-prefix(transform, scale3d(2.5, 2, 1.5));*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
body {
  position: relative;
  line-height: 1.5;
  font-size: 14px;
  margin: 0 auto;
  max-width: 600px;
}

img {
  max-width: 100%;
}

.mobile body {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-view .title-card {
  font-weight: 700;
  margin-bottom: 1rem;
  /* color: #B51A1A;*/
}

.sticky-view {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-top {
  background: #B51A1A;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.header-top h5 {
  line-height: 45px;
  margin: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.header-top .btn-back {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 10px;
  font-size: 1.5rem;
}
.header-top .btn-menu {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
}
.header-top .btn-menu.btn-alert {
  display: block;
  line-height: 45px;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #FDD57B;
}
.header-top .btn-menu.btn-alert .counter {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.875rem;
}
.header-top .btn-menu.btn-close {
  text-align: center;
  line-height: 40px;
  color: #5d5d5d;
}
.header-top .btn-menu.btn-user img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 50%;
}

.bg-img-1 {
  background-position: center;
  background-size: cover;
  background-image: url(../../image_SoLienLacDienTu/block-chinh.png);
}

.page-view {
  min-height: 100vh;
  /* background-color: rgb(193 193 193 / 30%);*/
  margin-bottom: 5rem;
  background-color: #ffffff;
}

.menu-bottom {
  position: fixed;
  bottom: 0px;
  z-index: 99;
  width: 600px;
  background-color: #fff;
}
.menu-bottom .container-fluid {
  background-color: #ffffff;
  box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
  -moz-box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
}
.menu-bottom .link-menu a {
  color: #cfcccc;
  /* border-right: 1px solid #fff; */
  /* border-top: 2px solid #fff; */
  text-align: center;
  padding: 12px 0;
  display: block;
  width: 20%;
}
.menu-bottom .link-menu a i {
  display: block;
  font-size: 1.25rem;
}
.menu-bottom .link-menu a span {
  /*display: none;*/
  font-size: 0.8rem;
  margin-top: 5px;
  line-height: 15px;
  height: 30px;
}
.menu-bottom .link-menu a:hover {
  text-decoration: none;
}
    .menu-bottom .link-menu a.home-center {
        width: 60px;
        height: 60px;
        padding: 10px;
        margin: -0.75rem auto 0 auto;
        border-radius: 50%;
        background-color: #226e54;
    }
.menu-bottom .link-menu a:last-child {
  border-right: 0px solid #fff;
}
    .menu-bottom .link-menu a.active {
        color: #226e54;
        /* border-top: 2px solid #ffbf00; */
    }

.mobile .menu-bottom {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .menu-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    width: 600px;
  }
  .menu-bottom .container-fluid {
    background-color: #ffffff;
    box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
    -webkit-box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
    -moz-box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
  }
  .menu-bottom .link-menu a {
    color: #cfcccc;
    /* border-right: 1px solid #fff; */
    /* border-top: 2px solid #fff; */
    text-align: center;
    padding: 15px 0;
    display: block;
    width: 20%;
  }
  .menu-bottom .link-menu a i {
    display: block;
    font-size: 1.3rem;
  }
  .menu-bottom .link-menu a span {
    /*display: none;*/
    font-size: 0.875rem;
    margin-top: 5px;
    line-height: 15px;
    height: 30px;
  }
  .menu-bottom .link-menu a:hover {
    text-decoration: none;
  }
    .menu-bottom .link-menu a.home-center {
        width: 80px;
        height: 80px;
        padding: 10px;
        margin: -0.75rem auto 0.25rem auto;
        border-radius: 50%;
        background-color: #226e54;
    }
  .menu-bottom .link-menu a:last-child {
    border-right: 0px solid #fff;
  }
  .menu-bottom .link-menu a.active {
    color: #B51A1A;
    /* border-top: 2px solid #ffbf00; */
  }
}
.navabar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #B51A1A;
  text-align: center;
  z-index: 99;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.navabar .navabar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navabar .navabar-main .text {
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  -webkit-box-flex: revert;
  -ms-flex-positive: revert;
  flex-grow: revert;
}
.navabar .navabar-main .alert-top {
  position: relative;
  display: block;
  color: #FDD57B;
  padding-left: 0.5rem;
}
.navabar .navabar-main .alert-top sup {
  position: absolute;
  top: 0.1rem;
  left: 1rem;
}
.navabar .navabar-main .alert-top sup .counter {
  font-size: 1rem;
}
.navabar > a {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  top: 6px;
  left: 0;
}
.navabar > a > img {
  height: 18px;
  display: block;
}
.navabar span {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
}

/* ===== Usage ===== */
/*@include font-face(Roboto, "./assets/Roboto", normal, normal);*/
/* SCSS VERTICAL CENTERING*/
/*@include vertical-center();*/
/* SCSS ADD VENDOR PREFIXES TO ANY CSS PROPERTY*/
/* @include css3-prefix(transform, scale3d(2.5, 2, 1.5));*/
.section-icon {
  padding: 1rem;
}
.section-icon__header {
  position: relative;
}
.section-icon__header h5 {
  display: inline-block;
  position: relative;
  padding: 10px;
  color: white;
  font-weight: 700;
  z-index: 4;
  font-size: 16px;
  background-color: #B51A1A;
  border-radius: 3px 3px 3px 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
.section-icon__header h5::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 1px;
  top: 39px;
  z-index: 2;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 20px;
  border-right-width: 0;
  border-top: 20px solid #000;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 10px;
  border-bottom: 15px solid #000;
}
.section-icon__main {
  padding: 1rem;
  background-position: top;
  border-radius: 12px;
  background-size: cover;
  background-image: url(../../image_SoLienLacDienTu/block-chinh.png);
}

.icon-menu-cate .block-main {
  display: block;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}
.icon-menu-cate .block-main:hover {
  text-decoration: none;
}
.icon-menu-cate .block-main:hover .text {
  color: #b51a1a;
}
.icon-menu-cate .block-main .icon img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  margin: 0.25rem auto;
}
.icon-menu-cate .block-main .text {
  display: block;
  color: black;
  height: 42px;
  font-weight: 600;
}
.icon-menu-cate .block-main .status {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
}

.btn-alert-school {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.section-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px 0.5rem 15px;
}
.section-alert .block-notification {
  width: calc(50% - 15px);
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 0.125em solid #b51a1a;
  box-shadow: 0.5em 0.5em 0 -0.125em #FFF, 0.5em 0.5em rgba(181, 26, 26, 0.3);
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.section-alert .block-notification:after {
  content: "";
  background: #b51a1a;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(-45deg) translateY(-3em);
  transform-origin: 0% 100%;
  transition: 0.3s;
}
.section-alert .block-notification:hover {
  border: 0.125em solid #b51a1a;
  box-shadow: 0.75em 0.75em 0 -0.125em #fff, 0.75em 0.75em #b51a1a;
}
.section-alert .block-notification:hover .block-notification__text {
  color: #FFF;
}
.section-alert .block-notification:hover .block-notification__text--content h5 {
  color: #FFF;
}
.section-alert .block-notification:hover .block-notification__text--content p {
  color: #FFF;
}
.section-alert .block-notification:hover:after {
  transform: rotate(0deg);
  z-index: 0;
}
.section-alert .block-notification__text {
  transition: transform 0.8s;
  color: #b51a1a;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.section-alert .block-notification__text i {
  width: 35px;
  float: left;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}
.section-alert .block-notification__text--content {
  margin-left: 35px;
}
.section-alert .block-notification__text--content h5 {
  font-size: 14px;
  color: #b51a1a;
  font-weight: 600;
  margin-bottom: 0;
}
.section-alert .block-notification__text--content p {
  font-size: 10px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.section-alert .block-notification__new {
  width: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
}

@media (min-width: 768px) {
  .section-alert .block-notification {
    /*padding: 13px 50px 13px;*/
  }
}
.notification-thang {
  position: absolute;
  width: 64px !important;
  margin: 1%;
  font-size: 12px;
  height: 24px;
  background-color: red;
  font-weight: 700;
  display: flex;
  border-radius: 5px;
  color: white;
  top: -7%;
  left: 39%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-thang span {
  position: absolute;
  bottom: 2px;
  color: #ffffff;
  font-weight: 800;
}

.notification-thang:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 151, 167, 0);
  border-top-color: #ff0000;
  border-width: 6px;
  margin-left: 5px;
}

#header-profile .block-main {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  background-color: #8F0100;
}
#header-profile .block-main .block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#header-profile .block-main .block-row .block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header-profile .block-main .block-row .block-left .avatar {
  border-radius: 50%;
  padding: 2px;
  background-color: #fff;
  min-width: 44px;
  width: 44px;
  height: 44px;
}
#header-profile .block-main .block-row .block-left .avatar img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
#header-profile .block-main .block-row .block-left .say-hi {
  line-height: 1.2;
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #fff;
}
#header-profile .block-main .block-row .block-left .say-hi span {
  color: #ffc107;
  display: block;
}
#header-profile .block-main .block-row .block-right .btn-menu {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
}
#header-profile .block-main .block-row .block-right .btn-menu.btn-logout {
  display: block;
  line-height: 45px;
  text-align: center;
  font-size: 1.5rem;
  color: #ffc107;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#header-profile .block-main .block-row .block-right .btn-menu.btn-alert {
  display: block;
  line-height: 45px;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  color: #ffc107;
}
#header-profile .block-main .block-row .block-right .btn-menu.btn-alert .counter {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.875rem;
}
#header-profile .block-main .block-row .block-right .avatar {
  border-radius: 50%;
  padding: 2px;
  background-color: #fff;
}
#header-profile .block-main .block-row .block-right .avatar img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#section-slide {
  /*background-color: #8F0100;*/
  margin-top: -1rem;
}

#section-slide .block-main {
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 15px 1.5rem;
}

#section-slide .block-main #slide-main img {
  border-radius: 1rem;
  height: 220px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

#section-slide .block-main #slide-main .owl-dots .owl-dot.active span, #section-slide .block-main #slide-main .owl-dots .owl-dot:hover span {
  background: #8F0100;
}

#section-slide .block-main #slide-main .owl-nav.disabled + .owl-dots {
  margin-top: 0.25rem;
}

/* ===== Usage ===== */
/*@include font-face(Roboto, "./assets/Roboto", normal, normal);*/
/* SCSS VERTICAL CENTERING*/
/*@include vertical-center();*/
/* SCSS ADD VENDOR PREFIXES TO ANY CSS PROPERTY*/
/* @include css3-prefix(transform, scale3d(2.5, 2, 1.5));*/
.page-view.profile-detail {
  background-image: url(/image_SoLienLacDienTu/bg-profile.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.profile-card {
  padding-top: 4rem;
}

.profile-card__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  z-index: 65;
  background: #fff;
  position: relative;
}
.profile-card__img--avatar {
  position: relative;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile-card__img--camera {
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  bottom: 25%;
  right: -25px;
}

.table-profile {
  width: 80%;
  margin-left: 10%;
  border-radius: 1rem;
  border: 4px dashed #b52221;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.table-profile table {
  width: 100%;
}
.table-profile table tr td {
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid #dee2e6;
}
.table-profile table tr:last-child td {
  border-bottom: 0px solid #dee2e6;
}
.table-profile table tr .title {
  font-weight: 700;
}

.profile-content {
  margin-top: 2rem;
}
.profile-content__name {
  text-align: center;
  margin-bottom: 1.5rem;
}

.infor-cung {
  border-right: 1px solid gray;
  color: #474718;
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.infor-dong {
  width: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.infor-dong span {
  padding-left: 23%;
}

.infor-be {
  width: 85%;
  border: 4px dashed #b52221;
  border-radius: 10px;
  -webkit-box-shadow: 3px 7px 16px -2px grey;
  box-shadow: 3px 7px 16px -2px grey;
  background-color: #fff9c8;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: blue;
  line-height: 2;
  margin: 0 auto;
  margin-top: 5%;
}

.info-teacher {
  width: 85%;
}

.info-teacher .infor-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infor-icon span {
  font-weight: 700;
}

.icon-may-anh {
  margin-left: 24%;
  margin-top: -11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn__logout {
  padding: 8px 20px;
  text-align: center;
  background: #B51A1A;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 600;
  -webkit-box-shadow: 0 1px 2px #999;
  box-shadow: 0 1px 2px #999;
  cursor: pointer;
}
