﻿body {
  position: relative;
  line-height: 1.5;
  font-size: 14px;
  margin: 0 auto;
  max-width: 600px;
}

.mobile body, .mobile .menu-bottom .menu-main {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.btn-position-absolute {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
}

.btn-position-absolute.btn-selectAll {
  top: -1rem;
  right: -1rem;
}

.btn-position-absolute.btn-Plus {
  left: 53%;
  bottom: 12%;
}

.btn-position-absolute.btn-Minus {
  left: 43%;
  bottom: 12%;
}

.btn-position-absolute.btn-Next {
  bottom: 43%;
  left: 90%;
}

.btn-position-absolute.btn-Prev {
  bottom: 43%;
  left: 5%;
}

.btn-position-absolute.btn-playGame {
  bottom: -1rem;
  right: -1rem;
}

.btn-position {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
}

.btn-position.btn_home {
  top: 0.5rem;
  left: 0.5rem;
}

.btn-position.btn_mute {
  bottom: 0.5rem;
  left: 0.5rem;
}

.btn-position.btn_BackCate {
  top: 0.5rem;
  left: 3.5rem;
}

.block-language {
  position: absolute;
  right: 1%;
  top: 2%;
  display: flex;
  z-index: 100;
}

.block-language .btn-language {
  border: 3px solid #fff;
  border-radius: 0.25rem;
  width: 100px;
  height: 60px;
  display: block;
  background-size: cover;
  margin-left: 1rem;
}

.block-language .btn-language.br-vn {
  background-image: url("/images/images_button/icon-vn.png");
}

.block-language .btn-language.br-e {
  background-image: url("/images/images_button/icon-anh.png");
}

.block-language .btn-language.active {
  /*filter: grayscale(0%);*/
}

@media (min-width: 992px) {
  .btn-position-absolute {
    width: 65px;
    height: 65px;
  }
  .btn-position-absolute.btn-selectAll {
    top: -2rem;
    right: -2rem;
  }
  .btn-position-absolute.btn-playGame {
    bottom: -2rem;
    right: -2rem;
  }
  .btn-position {
    width: 65px;
    height: 65px;
  }
  .btn-position.btn_home {
    top: 1rem;
    left: 1rem;
  }
  .btn-position.btn_mute {
    bottom: 1rem;
    left: 1rem;
  }
  .btn-position.btn_BackCate {
    top: 1rem;
    left: 5.5rem;
  }
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-view .title-card {
  font-weight: 700;
  margin-bottom: 1rem;
}

.sticky-view {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-top {
  background: #226e54;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.header-top h5 {
  line-height: 45px;
  margin: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
}
.header-top .btn-back {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #fff;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 2rem;
}
.header-top .btn-back:hover {
  text-decoration: none;
}
.header-top .btn-menu {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
}
.header-top .btn-menu .btn-close {
  text-align: center;
  line-height: 40px;
  color: #5d5d5d;
}
.header-top .btn-menu.btn-user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 50%;
}
.header-top .btn-menu.btn-alert {
  display: block;
  line-height: 45px;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #ffc107;
}
.header-top .btn-menu.btn-alert .counter {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.875rem;
}

.bg-img-1 {
  background-position: center;
  background-size: cover;
  background-image: url(../../image_SoLienLacDienTu/block-chinh.png);
}

.menu-bottom {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
}
.menu-bottom .menu-main {
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 -3px 5px 0 rgba(193, 193, 193, 0.3);
  -webkit-box-shadow: 0 -3px 5px 0 rgba(193, 193, 193, 0.3);
  -moz-box-shadow: 0 -3px 5px 0 rgba(193, 193, 193, 0.3);
}
.menu-bottom .link-menu a {
  color: #cfcccc;
  text-align: center;
  padding: 15px 0;
  display: block;
  width: 20%;
}
.menu-bottom .link-menu a:hover {
  text-decoration: none;
}
.menu-bottom .link-menu a i {
  display: block;
  font-size: 1.3rem;
}
.menu-bottom .link-menu a span {
  font-size: 0.8rem;
  margin-top: 5px;
  line-height: 15px;
  height: 30px;
}
.menu-bottom .link-menu a.home-center {
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: -0.75rem auto 0.25rem auto;
  border-radius: 50%;
  background-color: #226e54;
}
.menu-bottom .link-menu a:last-child {
  border-right: 0 solid #fff;
}
.menu-bottom .link-menu a.active {
  color: #226e54;
}

.navabar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #226e54;
  text-align: center;
  z-index: 99;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navabar .navabar-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navabar .navabar-main .text {
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  flex-grow: revert;
}

.navabar .navabar-main .alert-top {
  position: relative;
  display: block;
  color: #ffc107;
  padding-left: 0.5rem;
}

.navabar .navabar-main .alert-top sup {
  position: absolute;
  top: 0.1rem;
  left: 1rem;
}

.navabar .navabar-main .alert-top sup .counter {
  font-size: 1rem;
}

.navabar > a {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  top: 6px;
  left: 0;
}

.navabar > a > img {
  height: 18px;
  display: block;
}

.navabar span {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

.page-view {
  min-height: 100vh;
}

.block-book {
  background: #f5ffe8;
  padding-top: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 3rem;
}
.block-book .books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-book .books-list .book-item {
  width: calc(50% - 7.5px);
  margin-bottom: 1.5rem;
}

.book-card {
  width: 100%;
  padding: 1.5rem 0.75rem 0.75rem 0.75rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block;
  text-align: center;
  color: #000;
}
.book-card .book-card__cover {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
}
.book-card .book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
}
.book-card .book-card__book-front {
  position: absolute;
  height: 100%;
}
.book-card .book-card__book-back {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(-40px);
}
.book-card .book-card__book-side {
  position: absolute;
  top: 5px;
  bottom: 2px;
  right: -29px;
  width: 40px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 0;
  transform: rotate3d(0, 1, 0, 90deg);
}
.book-card .book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}
.book-card .book-card__title {
  font-size: 1.5em;
  margin-bottom: 8px;
}
.book-card .book-card__author {
  color: #757575;
  font-size: 1em;
}
.book-card:hover {
  color: #226e54;
  text-decoration: none;
}
.book-card:hover .book-card__book {
  transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -20px);
}
.book-card:hover .book-card__book-back {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}
.book-card:hover .book-card__book-side {
  opacity: 1;
}

.unit-list {
  margin-bottom: 1.5rem;
}
.unit-list__title {
  font-family: cursive;
  font-size: 1.25rem;
  color: #1f6749;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.lesson-item {
  margin-bottom: 1rem;
  display: block;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 1px 8px 14px 1px rgba(128, 128, 128, 0.2117647059);
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.lesson-item:hover {
  color: #226e54;
}
.lesson-item__avatar {
  width: 20%;
}
.lesson-item__avatar img {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  aspect-ratio: 1;
}
.lesson-item__content {
  width: calc(80% - 1rem);
  padding: 0.5rem 1rem;
}
.lesson-item__content--title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.lesson-item__content--decription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
