﻿@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap");
header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.menu-top {
  background-color: white;
}
.menu-top .logo-show {
  display: flex;
  align-items: center;
}
.menu-top .logo-show img {
  height: 60px;
}
.menu-top .logo-show .text {
  color: #226e54;
  font-weight: 700;
  font-size: 1.25rem;
}
.menu-top .btn-header {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
.menu-top .btn-header img {
  height: 30px;
  margin-right: 0.5rem;
}
.menu-top .btn-green img {
  height: 30px;
  margin-right: 0.5rem;
}

.menu-main {
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.menu-main .navbar {
  padding: 0;
}
.menu-main .navbar .navbar-brand .logo-img {
  height: 60px;
}
.menu-main .navbar .navbar-nav .active .nav-link {
  color: #226e54;
  /*border-bottom: 3px solid $colorYellow;*/
}
.menu-main .navbar .navbar-nav .nav-link {
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}
.menu-main .navbar .navbar-nav .nav-link:hover {
  color: #226e54;
}
.menu-main .navbar .navbar-nav .dropdown .dropdown-menu {
  margin-top: 0;
}
.menu-main .navbar .navbar-toggler {
  /*color: rgba(0, 0, 0, 0.5);*/
  border-color: #226e54;
  background-color: #fff;
}
.menu-main .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(/images/menu-bar.png);
}

.menu-main .navbar .btn-login {
  background-color: #226e54;
  color: #fff;
  border-color: #226e54;
}

.btn-login:hover {
  background-color: #fff;
  color: #226e54;
  border-color: #226e54;
}

.btn-pill {
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10rem;
}

@media only screen and (min-width: 992px) {
  .menu-main {
    background-color: #226e54;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .menu-main .navbar-brand {
    display: none;
  }
  .menu-main .navbar-brand .logo-img {
    height: 60px;
  }
  .menu-main .navbar {
    padding: 0;
  }
  .menu-main .navbar > .btn-green {
    display: none;
  }
  .menu-main .navbar .navbar-nav .active .nav-link {
    color: #fec46f;
    border-bottom: 3px solid #fec46f;
  }
  .menu-main .navbar .navbar-nav .nav-link {
    color: white;
    padding: 0.75rem 1.5rem;
    padding-bottom: calc(0.75rem - 3px);
    font-size: 1rem;
    border-bottom: 3px solid transparent;
  }
  .menu-main .navbar .navbar-nav .nav-link:hover {
    color: #fec46f;
  }
  .menu-main .navbar .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}
#section-footer .footer-main {
  background-color: rgba(38, 180, 132, 0.1);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#section-footer .footer-main .block-footer.block-1 {
  text-align: center;
}
#section-footer .footer-main .block-footer.block-1 .logo {
  height: 120px;
  margin: auto;
}
#section-footer .footer-main .block-footer.block-1 .title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #226e54;
}
#section-footer .footer-main .block-footer.block-1 .social {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
#section-footer .footer-main .block-footer.block-1 .social li a {
  font-size: 2rem;
  display: block;
  margin-right: 1rem;
  color: black;
}
#section-footer .footer-main .block-footer.block-1 .social li a img {
  height: 40px;
}
#section-footer .footer-main .block-footer.block-1 .social li:last-child a {
  margin-right: 0;
}
#section-footer .footer-main .block-footer.block-address .block-main {
  margin-bottom: 0.5rem;
}
#section-footer .footer-main .block-footer.block-address .block-main .header {
  color: #226e54;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}
#section-footer .footer-main .block-footer.block-address .block-main .address i {
  margin-right: 0.5rem;
}
#section-footer .footer-bottom {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  color: white;
  background-color: #226e54;
}

img {
  max-width: 100%;
}

.pd-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

@keyframes move {
  0% {
    left: -15px;
  }
  25% {
    left: -12px;
  }
  50% {
    left: -15px;
  }
  75% {
    left: -12px;
  }
  100% {
    left: -15px;
  }
}
@keyframes move2 {
  0% {
    right: -15px;
  }
  25% {
    right: -12px;
  }
  50% {
    right: -15px;
  }
  75% {
    right: -12px;
  }
  100% {
    right: -15px;
  }
}
body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
}

.btn-green {
  color: #fff;
  background-color: #226e54;
  border-color: #226e54;
}

.btn-green:hover {
  color: #fff;
  background-color: #26b484;
  border-color: #226e54;
}

.block-title {
  margin-bottom: 1.5rem;
}
.block-title .title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #226e54;
  line-height: 1.5;
  font-family: "Baloo Bhaina 2", Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.block-title .summary {
  text-align: center;
}

.block-card .block-main {
  border-radius: 0.25rem;
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
}
.block-card .block-main .image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.block-card .block-main .title {
  font-family: "Baloo Bhaina 2", Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 0.5rem;
}

/* Responsive */
@media only screen and (min-width: 768px) {
  .block-title {
    margin-bottom: 3rem;
  }
  .block-title .title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .pd-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .block-title {
    margin-bottom: 3rem;
  }
  .block-title .title {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1200px) {
  .block-title .title {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}
