﻿/*section-slide*/
#slide-main .owl-nav {
  margin: 0;
}

#slide-main .owl-nav button.owl-prev,
#slide-main .owl-nav button.owl-next {
  font-size: 2rem;
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  margin-top: -28px;
  background-color: #CD0000;
  color: #fff;
  border-radius: 50%;
  line-height: 28px;
  width: 44px;
  height: 44px;
  border: 1px solid #CD0000;
}

#slide-main .owl-nav [class*=owl-]:hover {
  background: #fff;
  color: #CD0000;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  #section-slide .banner-left img, #section-slide #slide-main img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 450px;
  }
}
@media only screen and (min-width: 1200px) {
  #section-slide .banner-left img, #section-slide #slide-main img {
    height: 550px;
  }
}
@media only screen and (min-width: 1536px) {
  #section-slide .banner-left img, #section-slide #slide-main img {
    height: 600px;
  }
}
/*section-marquee*/
#section-marquee .txt-marquee {
  margin-top: 0.25rem;
  padding: 0.25rem 0;
  color: #CD0000;
  font-weight: 600;
  font-size: 1rem;
}

/*section-education-program*/
#section-education-program {
  margin-top: 1.5rem;
  position: relative;
}
#section-education-program .img-stick {
  position: absolute;
}
#section-education-program .img-stick.stick-1 {
  top: 12%;
  left: 15%;
}
#section-education-program .img-stick.stick-2 {
  bottom: 10%;
  left: 10%;
}
#section-education-program .img-stick.stick-3 {
  top: 17%;
  right: 15%;
}
#section-education-program .img-stick.stick-4 {
  bottom: 5%;
  right: 10%;
}
#section-education-program .container {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.block-card.education-program .block-main {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  display: block;
}
.block-card.education-program .block-main:hover {
  text-decoration: none;
}
.block-card.education-program .block-main:hover .title {
  color: #CD0000;
}
.block-card.education-program .block-main .image img {
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
.block-card.education-program .block-main .title {
  font-weight: 700;
  color: #1b2127;
  padding: 0.75rem 0;
  padding-bottom: calc(0.75rem - 2px);
  position: relative;
  font-size: 1rem;
}
.block-card.education-program .block-main .title::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  height: 2px;
  background-color: #CD0000;
}

@media only screen and (min-width: 992px) {
  .block-card.education-program .block-main .image img {
    height: 180px;
  }
}
@media only screen and (min-width: 1536px) {
  .block-card.education-program .block-main .image img {
    height: 200px;
  }
  .block-card.education-program .block-main .title {
    font-size: 1.25rem;
  }
}
/*section-staff*/
#section-staff {
  background-color: rgba(38, 180, 132, 0.1);
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.block-card.staff .block-main {
  background-color: #fff;
  padding: 0.25rem;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 0;
  border: thin solid #ddd;
}
.block-card.staff .block-main .block-col.image {
  min-width: 60px;
  width: 60px;
  margin-right: 0.5rem;
}
.block-card.staff .block-main .block-col.image img {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.block-card.staff .block-main .block-col.info .title {
  height: 42px;
  padding: 0;
  margin-bottom: 0.25rem;
  color: #CD0000;
  font-weight: 600;
}
.block-card.staff .block-main .block-col.info .summary {
  height: 72px;
}
.block-card.staff .block-main .block-col.info .summary p {
  margin: 0;
}

#slide-gallery-staff img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #slide-gallery-staff img {
    height: 420px;
    object-fit: cover;
    object-position: center;
  }
}
/* block numbers */
#section-numbers {
  /*position: relative;*/
  /* background: radial-gradient(50% 50% at 50% 50%, #26b484 0%, #CD0000 100%);*/
  /*
  &::before {
      opacity: 0.1;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      width: 40%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(/images/logo-white.png);
  }*/
}
#section-numbers .container {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.block-video_attach .embed-responsive {
  border-radius: 1rem;
  z-index: 1;
}

.block-number-detail .block-main {
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.block-number-detail .block-main:hover {
  background-color: #CD0000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.block-number-detail .block-main:hover .image {
  background-color: #FFF;
}
.block-number-detail .block-main:hover .number {
  color: #FFF;
}
.block-number-detail .block-main:hover .number::after {
  background-color: #FFF;
}
.block-number-detail .block-main:hover .title {
  color: white;
}
.block-number-detail .block-main .image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: rgba(38, 180, 132, 0.1);
  text-align: center;
  padding: 1.5rem;
}
.block-number-detail .block-main .image img {
  /* height: 60px;*/
}
.block-number-detail .block-main .number {
  font-size: 2rem;
  font-weight: 700;
  color: #CD0000;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.block-number-detail .block-main .number::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  background-color: #CD0000;
  width: 40px;
  height: 2px;
}
.block-number-detail .block-main .title {
  min-height: 84px;
  /*color: white;*/
}

/*section-register*/
#section-register {
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-image: url(/images/bg-register.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-register {
  position: relative;
  z-index: 1;
}
.block-register::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #fec46f;
  position: absolute;
  bottom: -0.25rem;
  left: -0.25rem;
  z-index: -1;
  border-radius: 0.5rem;
}
.block-register .block-main {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
.block-register .block-main .header {
  text-align: center;
}
.block-register .block-main .header .title {
  font-family: "Baloo Bhaina 2", Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
.block-register .block-main .header .summary {
  margin-bottom: 1.5rem;
}
.block-register .block-main .button {
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 576px) {
  .block-register .block-main {
    padding: 1.5rem;
  }
  .block-register .block-main .header .summary {
    margin-bottom: 2rem;
  }
  .block-register .block-main .form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .block-register .block-main .form .block-col {
    width: calc(100% - 0.75rem);
  }
  .block-register .block-main .form .block-col:first-child {
    padding-right: 0.75rem;
    margin-right: 0.75rem;
    border-right: 2px solid #ddd;
  }
  .block-register .block-main .button {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .block-register .block-main .header .title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .block-register .block-main {
    padding: 1.5rem;
  }
  .block-register .block-main .header .title {
    font-size: 1.75rem;
  }
  .block-register .block-main .header .summary {
    margin-bottom: 2rem;
  }
  .block-register .block-main .form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .block-register .block-main .form .block-col {
    width: calc(100% - 0.75rem);
  }
  .block-register .block-main .form .block-col:first-child {
    padding-right: 0.75rem;
    margin-right: 0.75rem;
    border-right: 2px solid #ddd;
  }
  .block-register .block-main .button {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .block-register .block-main {
    padding: 1.5rem;
  }
  .block-register .block-main .header .title {
    font-size: 2.25rem;
  }
}
/*section-gallery*/
#section-gallery {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.gallery-list {
  text-align: center;
}
.gallery-list .choise-list {
  display: flex;
  justify-content: center;
}
.gallery-list .choise-list .choise-button {
  color: #333333;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 5px;
  display: inline-flex;
  position: relative;
  outline: 0;
  padding: 0 15px 0 30px;
  font-size: 0.875rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(38, 180, 132, 0.1);
}
.gallery-list .choise-list .choise-button .check {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  /* border: 2px solid #fff; */
  border-radius: 30px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
.gallery-list .choise-list .choise-button .check:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 25px;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}
.gallery-list .choise-list .choise-button .check:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 13px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  top: calc(50% - 2px);
  left: 7px;
  transform: translateY(-50%) rotate(45deg);
}
.gallery-list .choise-list .choise-button.active .check:after {
  border-right: 3px solid #CD0000;
  border-bottom: 3px solid #CD0000;
}

.block-card.gallery .block-main .image img {
  border-radius: 0.25rem;
}

/* Responsive */
