﻿/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    height: 100vh;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 700;
}
.nav-tabs .nav-link {
    font-weight: 700;
}
.tab-pane {
    background: #d7fae966;
    height: 100vh;
}
.fade:not(.show) {
    opacity: 0;
    display: none;
}
.block-content__date, .block-content__text {
    color: #226e54;
    line-height: 30px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.block-content {
    margin: 2%;
    padding: 2%;
    box-shadow: 3px 1px 17px 0px #80808042;
    border-radius: 7px;
    background: white;
}
b {
    display: contents;
}
.block-content__text {
    border-left: 4px solid green;
}