﻿/*.page-view {
    background-color: #f3f5f9;
}*/

#header-profile .block-main {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    background-color: #226e54;
}

    #header-profile .block-main .block-row {
        display: flex;
        justify-content: space-between;
    }

        #header-profile .block-main .block-row .block-left {
            display: flex;
        }

            #header-profile .block-main .block-row .block-left .avatar {
                border-radius: 50%;
                padding: 2px;
                background-color: #fff;
                min-width: 44px;
                width: 44px;
                height: 44px;
            }

                #header-profile .block-main .block-row .block-left .avatar img {
                    width: 40px;
                    border-radius: 50%;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                }

            #header-profile .block-main .block-row .block-left .say-hi {
                line-height: 1.2;
                margin-left: 0.5rem;
                font-size: 1rem;
                color: #fff;
            }

                #header-profile .block-main .block-row .block-left .say-hi span {
                    color: #ffc107;
                    display: block;
                }

        #header-profile .block-main .block-row .block-right .btn-menu {
            width: 40px;
            height: 40px;
            margin: 5px;
            display: inline-block;
        }

            #header-profile .block-main .block-row .block-right .btn-menu.btn-logout {
                display: block;
                line-height: 45px;
                text-align: center;
                font-size: 1.5rem;
                color: #ffc107;
                transform: rotate(90deg);
            }

            #header-profile .block-main .block-row .block-right .btn-menu.btn-alert {
                display: block;
                line-height: 45px;
                text-align: center;
                position: relative;
                font-size: 1.5rem;
                color: #ffc107;
            }

                #header-profile .block-main .block-row .block-right .btn-menu.btn-alert .counter {
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-align: center;
                    line-height: 20px;
                    background-color: #fff;
                    color: #000;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    font-size: 0.875rem;
                }

        #header-profile .block-main .block-row .block-right .avatar {
            border-radius: 50%;
            padding: 2px;
            background-color: #fff;
        }

            #header-profile .block-main .block-row .block-right .avatar img {
                width: 40px;
                border-radius: 50%;
                height: 40px;
                object-fit: cover;
                object-position: center;
            }

a:hover {
    text-decoration-line: none;
    color: #B51A1A;
}

#section-alert .container-fluid {
    background: #e9ecef;
    height: 9rem;
}

    #section-alert .container-fluid .title-card {
        margin-bottom: 0.5rem;
    }

    #section-alert .container-fluid .card-view #slide-alert-school {
        margin-bottom: 1rem;
        margin-top: -3rem;
    }

        #section-alert .container-fluid .card-view #slide-alert-school .block-alert .block-main {
            /*   border-radius: 0.75rem;*/
            /*border: 2px solid #8F0100;*/
        }

            #section-alert .container-fluid .card-view #slide-alert-school .block-alert .block-main .content {
                /*  position: relative;
  border-radius: 0.75rem 0.75rem 0 0;
  border: 1px solid rgba(163, 163, 163, 0.25);
  border-bottom: 0;
  background-color: #fff;*/
                /*  .time {
      color: #1b1e2194;
      font-size: 85%;
      background: linear-gradient(to right, #b20431 30%, #f90a48 100%);
  }*/
                /* .text {
      color: #B51A1A;
      display: block;
  }*/
            }

                #section-alert .container-fluid .card-view #slide-alert-school .block-alert .block-main .content .status {
                    position: absolute;
                    top: -15px;
                    right: 0px;
                }

                    #section-alert .container-fluid .card-view #slide-alert-school .block-alert .block-main .content .status img {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }

                #section-alert .container-fluid .card-view #slide-alert-school .block-alert .block-main .content .class {
                    padding: 0.25rem 0.5rem;
                    border-radius: 1rem;
                    color: #B51A1A;
                    background-color: rgba(181, 26, 26, 0.1);
                    font-size: 65%;
                }

.block-alert .block-main {
    margin-top: 0.75rem;
    width: 200px;
    display: block;
}

    .block-alert .block-main .cate {
        position: relative;
        background: #226e54;
        /*background: linear-gradient(to right, #b20431 30%, #930026 100%);*/
        /* background: linear-gradient(133deg, rgba(143,1,0,1) 0%, rgba(143,1,0,1) 50%, rgba(201,44,45,1) 100%);*/
        color: #fff;
        border-radius: 0.75rem 0.75rem 0 0;
        /*font-weight: 700;*/
        padding: 0.25rem;
        text-align: center;
    }

        .block-alert .block-main .cate .status {
            position: absolute;
            top: -15px;
            right: 0px;
        }

            .block-alert .block-main .cate .status img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }

    .block-alert .block-main .content {
        border: 1px solid rgba(163, 163, 163, 0.25);
        border-top: 0px;
        padding: 0.5rem;
        border-radius: 0 0 0.75rem 0.75rem;
        background-color: #fff;
    }

        .block-alert .block-main .content .class {
            padding: 0.25rem 0.5rem;
            border-radius: 1rem;
            color: #B51A1A;
            background-color: rgba(181, 26, 26, 0.1);
            font-size: 65%;
        }

        .block-alert .block-main .content .text {
            color: #000;
            display: block;
            height: 42px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

#tab-alert .nav-link {
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    color: #D4D4D4;
    font-weight: 700;
}

    #tab-alert .nav-link.active, #tab-alert .show > .nav-link {
        background-color: transparent;
        color: #B51A1A;
        border-bottom: 2px solid #B51A1A;
    }

.alert-content {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.75rem;
}

    .alert-content .class {
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        color: #fff;
        background-color: #343a40;
        font-size: 65%;
    }

    .alert-content .content {
        color: black;
    }

    .alert-content .status img {
        height: 20px;
    }

.icon-menu-cate .block-main {
    display: block;
    border-radius: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

    .icon-menu-cate .block-main .status {
        position: absolute;
        right: -8%;
        top: -5%;
        width: 35px;
    }

    .icon-menu-cate .block-main .icon {
        margin: 0.5rem 0;
        text-align: center;
    }

        .icon-menu-cate .block-main .icon img {
            width: 119px;
            height: 111px;
            object-fit: contain;
            object-position: center;
        }

    .icon-menu-cate .block-main .text {
        display: block;
        font-family: sans-serif;
        color: black;
        font-weight: 700;
        line-height: 1;
        font-size: 15px;
        height: 30px;
        /*  align-items: center;
  justify-content: center;*/
    }

.icon-menu-alert .block-main {
    display: block;
    border-radius: 1rem;
    background-color: #fff;
    padding: 0.25rem;
    text-align: center;
}

    .icon-menu-alert .block-main .icon {
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(181, 26, 26, 0.1);
        border-radius: 50%;
        width: 90px;
        height: 90px;
        position: relative;
    }

        .icon-menu-alert .block-main .icon .status {
            position: absolute;
            top: -20px;
            right: -20px;
        }

    .icon-menu-alert .block-main img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
    }

    .icon-menu-alert .block-main .text {
        margin-top: 0.75rem;
        display: block;
        color: black;
        font-weight: 700;
        /*font-size: 13px;*/
        /* height: 42px;*/
        /*            align-items: center;
  justify-content: center;*/
    }

#section-courses {
    background-color: #fff;
}

    #section-courses .container-fluid {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

        #section-courses .container-fluid .title-card {
            margin-bottom: 1rem;
        }

#slide-course .course-block {
    display: block;
    width: 134px;
    padding: 1rem;
    /* background: rgba(181, 26, 26, 0.1);*/
    /*border: 1px solid transparent;*/
    /*background: linear-gradient(133deg, rgba(143,1,0,1) 0%, rgba(143,1,0,1) 50%, rgba(201,44,45,1) 100%);*/
    border-radius: 1rem;
    margin-bottom: 5px;
    min-width: 70px;
}

    #slide-course .course-block:hover {
        text-decoration: none;
        /* border: 1px solid #B51A1A;*/
        /* background-color: rgb(181 26 26 / 20%);*/
    }

    #slide-course .course-block .icon {
        text-align: center;
    }

        #slide-course .course-block .icon img {
            width: 90px;
            height: 90px;
            object-fit: contain;
            margin: auto;
        }

    #slide-course .course-block .number-progress {
        color: #000;
        font-size: 85%;
    }

    #slide-course .course-block .progress {
        height: 3px;
        /*background-color: #fff;*/
    }

        #slide-course .course-block .progress .progress-bar {
            background-color: #226e54;
        }

    #slide-course .course-block .name {
        color: #B51A1A;
        text-align: center;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

#section-slide {
    /*background-color: #8F0100;*/
    margin-top: -1rem;
}

    #section-slide .block-main {
        background-color: #fff;
        border-radius: 1rem 1rem 0 0;
        padding: 0 1rem 15px;
    }

        #section-slide .block-main #slide-main img {
            border-radius: 1rem;
            /*height: 158px;*/
            object-fit: cover;
            aspect-ratio: 16 / 6;
            object-position: center;
            width: 100%;
        }

        #section-slide .block-main #slide-main .owl-dots .owl-dot.active span, #section-slide .block-main #slide-main .owl-dots .owl-dot:hover span {
            background: #226e54;
        }

        #section-slide .block-main #slide-main .owl-nav.disabled + .owl-dots {
            margin-top: 0.25rem;
        }

#section-block-1 {
    background-color: #f3f5f9;
}

    #section-block-1 .container-fluid {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

        #section-block-1 .container-fluid .card-view {
            background-color: #fff;
            border-radius: 0.5rem;
            padding: 1rem;
        }

            #section-block-1 .container-fluid .card-view .title-card {
                margin-bottom: 1rem;
            }

#section-block-2 .card-view {
    background-image: url(../images/TrangChu_SLLDTLienCap/block-chinh.png);
    background-size: cover;
    background-position: center;
    padding: 5% 1%;
    margin: -7.5% 2% 2% 2%;
}

.card-event .block-main .event img {
    border-radius: 0.25rem;
    height: 150px;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.TrangChu_ThongBao {
    padding: 9% 4% 24% 4%;
}

.TrangChu_tb_box {
    background-color: rgba(255, 248, 248, 0.8509803922);
    display: flex;
    width: 90%;
    margin: 3% auto;
    border-radius: 10px;
    height: 53px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 3px 4px 1px -1px rgba(157, 155, 155, 0.5490196078);
}

    .TrangChu_tb_box span {
        color: black;
        margin-left: 2%;
        font-size: 81%;
        /*width: 68%;*/
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

.TrangChu_tb {
    display: flex;
    height: 4%;
    position: absolute;
    margin-top: -9%;
    margin-left: 0.5%;
    width: 20%;
    background: #B51A1A;
    font-weight: 500;
    color: #ffffff;
    /* display: block; */
    box-shadow: 4px 5px 15px 0px #e78888;
    justify-content: center;
    align-items: center;
}

    .TrangChu_tb span {
        font-size: 60%;
        padding: 2%;
    }

.TrangChu_tb_class {
    margin: 2%;
    color: saddlebrown;
    text-transform: uppercase;
    font-size: 84%;
    /* padding: 0%; */
    display: flex;
    width: 30%;
    height: 69%;
    background: #B8F879;
    border: 1px solid #418300;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Vien {
    border-top: none;
    margin-bottom: 5%;
}

.TrangChu_tb_tn {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    height: 28px;
    background: #44AE1E;
    color: #FFF8F8;
    font-size: 80%;
    text-align: center;
}

.TrangChu_ld {
    display: flex;
    background-image: linear-gradient(to right, #0679bb 51%, #1d00c9 100%);
    color: #721c24;
}

.TrangChu_ld_hdd {
    width: 28%;
    height: auto;
}

    .TrangChu_ld_hdd img {
        margin: 7% auto;
        height: 121px;
        border-radius: 8px;
        border: 4px dashed #b51a1a;
        margin-left: 1%;
        width: 100%;
    }

.TrangChu_chung {
    display: flex;
}

.TrangChu_hd {
    box-shadow: beige;
    border-radius: 42px;
    text-align: center;
    height: 131px;
    display: flex;
    width: 34%;
    font-weight: 900;
    color: rgba(255, 248, 248, 0.8509803922) !important;
    background: #EB4848;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1%;
    align-items: center;
}

.hinh_hs {
    /*z-index: -5;*/
    height: auto;
    width: 47%;
    margin: 1%;
    background: #FFD7D7;
    box-sizing: border-box;
    border-radius: 4px;
}

.TrangChu_hinh {
    background-color: antiquewhite;
    justify-content: center;
    margin-bottom: 2%;
    padding-bottom: 3%;
    display: flex;
}

.hinh_next {
    display: flex;
    text-align: center;
    background: #ffdf00;
    align-items: center;
    font-size: 65%;
    font-weight: 700;
    margin: 1%;
    padding: 1%;
    justify-content: center;
}

.Background_Trangchu_dm {
    background-size: cover;
    background-image: url("../sass/images/images_TrangChu_DanhMuc/block-chinh.png");
    margin-bottom: 10%;
    background-color: #ffffff;
    margin: -43% 0% 30% 0%;
    background-position: center;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.Trangchu_dm {
    display: flex;
    flex: 0 0 33.333333%;
}

.ten {
    background-color: #ff7f7f;
    font-weight: 700;
    color: white;
    padding: 3%;
    width: 57%;
    margin-top: 5%;
    position: relative;
    margin-bottom: 33%;
    font-size: 160%;
    border-radius: 15px;
}

.dm_sk {
    /* background-image: linear-gradient(to right, #e7452c 0%, #ec2e34 51%, #b80702 100%);*/
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1%;
    margin-bottom: 7%;
    margin-top: 13%;
}

.dm_sngh {
    /*background-image: linear-gradient(to right, #548591 0%, #264485 51%, #001fbc 100%);*/
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
    /*border: 2px solid #140080;*/
    color: #140080;
    margin-top: 13%;
}

.Trangchu_dm a {
    background-color: white;
}

.Trangchu_dm_nh img {
    background-color: white;
    border-radius: 25px;
    width: 85%;
    padding: 2%;
}

.Trangchu_dm_nh span {
    color: black;
    font-size: 78%;
}

.dm_dk {
    margin-left: 1%;
    margin-bottom: 5%;
    margin-top: 7%;
}

.dm_hdk {
    margin-left: 4%;
    margin-bottom: 5%;
    margin-top: 7%;
}

.dm_dg {
    margin-left: 4%;
    margin-bottom: 5%;
    margin-top: 7%;
}

.tendm {
    margin-top: -8%;
    margin-bottom: 4%;
    line-height: 100%;
}

.tendm1 {
    margin-bottom: 2.5%;
}

.tendm2 {
    margin-top: -8%;
    margin-bottom: 4%;
    line-height: 103%;
}

.tendm3 {
    margin-top: 3%;
    margin-bottom: 4.5%;
    line-height: 100%;
}

.hinh_hs img {
    width: 101%;
    height: 107px;
}

.khung_ThongBao {
    height: 143px;
    margin: 0 1% 1% 1%;
    background-size: cover;
    padding: 1%;
}

.khung_ThongBao {
    background-image: url("/image_SoLienLacDienTu/thong-bao.jpg");
    /*background-image: url(https://cdn0.vox-cdn.com/uploads/chorus_asset/file/3493392/firewatch_150305_01.0.png);*/
}

.notification {
    width: 40px;
    margin: 1%;
    font-size: 12px;
    height: 24px;
    background-color: red;
    font-weight: 700;
    display: flex;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ma-panel-heading-2 {
    margin-bottom: -11px;
    width: 44%;
    background-color: #ee353a;
    color: #fff;
    padding: 10px 20px 10px 35px;
    margin-left: -6px;
    margin-top: -14px;
    font-size: 11px;
    /* z-index: 1000; */
    font-weight: 800;
    display: flex;
    position: relative;
    padding: 2%;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 4px 1px rgba(27, 30, 33, 0.5803921569);
}

    .ma-panel-heading-2:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -15px;
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-left-width: 15px;
        border-right-width: 15px;
        border-color: transparent;
        border-style: solid;
        border-right-color: #b52221;
        z-index: -14;
    }

.ma-panel-heading {
    margin-bottom: -11px;
    width: 26%;
    background-color: #86d729;
    color: #fff;
    padding: 10px 20px 10px 35px;
    margin-left: -12px;
    margin-top: -14px;
    font-size: 11px;
    /* z-index: 1000; */
    font-weight: 800;
    display: flex;
    position: relative;
    padding: 2%;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 4px 1px rgba(27, 30, 33, 0.5803921569);
}

    .ma-panel-heading:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -15px;
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-left-width: 15px;
        border-right-width: 15px;
        border-color: transparent;
        border-style: solid;
        border-right-color: #4caf50;
        z-index: -14;
    }

.half-circle-ribbon {
    background: #86d729;
    color: #FFF;
    height: 29px;
    width: 45px;
    text-align: right;
    position: absolute;
    top: -1px;
    padding: 3%;
    right: -1px;
    font-size: 13px;
    flex-direction: row;
    border-radius: 0 0 0 100%;
    /* border: 1px dashed #FFF; */
    box-shadow: 0 0 0 3px #4caf50;
}

ul.notifications-container {
    margin-bottom: 0;
    max-height: 15rem;
    overflow: auto;
}

li.notification-list-item {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid #bfbfbf;
}

span.date_notification {
    font-size: 1rem;
    color: #4b4b4b;
    /*float: right;*/
    font-weight: normal;
}
/*//Lân */
.pading {
    padding-right: 11px !important;
    padding-left: 20px !important;
}

.day {
    width: 81px !important;
    background: brown;
    font-weight: 600;
    color: white;
    border-radius: 4px;
}
/*ribon*/
.ribon-1 {
    position: relative;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #f10f0f;
    border-radius: 3px;
}

    .ribon-1::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background-color: #a52a2a;
        transform: rotate(39deg);
        left: 5px;
        top: 28px;
        z-index: -1;
    }

.noti {
    width: 51%;
    right: -4px;
    top: -19px;
}

.study {
    width: 22%;
    right: -3px;
    top: -2px;
}

#section-alert {
    margin: 2%;
}

.owl-stage-outer {
    padding-top: 4%;
}

.padding {
    margin-bottom: 1% !important;
}

.card-view {
    margin-top: -5%;
}
