﻿@import "_mixin.scss";
@import "_variables.scss";

body {
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    margin: 0 auto;
    max-width: 600px;
}

.mobile body, .mobile .menu-bottom .menu-main {
    max-width: 100%;
}

img {
    max-width: 100%;
}


.btn-position-absolute {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
}

.btn-position-absolute.btn-selectAll {
    top: -1rem;
    right: -1rem;
}

.btn-position-absolute.btn-Plus {
    left: 53%;
    bottom: 12%;
}

.btn-position-absolute.btn-Minus {
    left: 43%;
    bottom: 12%;
}

.btn-position-absolute.btn-Next {
    bottom: 43%;
    left: 90%;
}

.btn-position-absolute.btn-Prev {
    bottom: 43%;
    left: 5%;
}

.btn-position-absolute.btn-playGame {
    bottom: -1rem;
    right: -1rem;
}

.btn-position {
    position: fixed;
    z-index: 100;
    width: 40px;
    height: 40px;
}

.btn-position.btn_home {
    top: 0.5rem;
    left: 0.5rem;
}

.btn-position.btn_mute {
    bottom: 0.5rem;
    left: 0.5rem;
}

.btn-position.btn_BackCate {
    top: 0.5rem;
    left: 3.5rem;
}

.block-language {
    position: absolute;
    right: 1%;
    top: 2%;
    display: flex;
    z-index: 100;
}

.block-language .btn-language {
    border: 3px solid #fff;
    border-radius: 0.25rem;
    width: 100px;
    height: 60px;
    display: block;
    background-size: cover;
    margin-left: 1rem;
}

.block-language .btn-language.br-vn {
    background-image: url("/images/images_button/icon-vn.png");
}

.block-language .btn-language.br-e {
    background-image: url("/images/images_button/icon-anh.png");
}

.block-language .btn-language.active {
    /*filter: grayscale(0%);*/
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {


    .btn-position-absolute {
        width: 65px;
        height: 65px;
    }

    .btn-position-absolute.btn-selectAll {
        top: -2rem;
        right: -2rem;
    }

    .btn-position-absolute.btn-playGame {
        bottom: -2rem;
        right: -2rem;
    }

    .btn-position {
        width: 65px;
        height: 65px;
    }

    .btn-position.btn_home {
        top: 1rem;
        left: 1rem;
    }

    .btn-position.btn_mute {
        bottom: 1rem;
        left: 1rem;
    }

    .btn-position.btn_BackCate {
        top: 1rem;
        left: 5.5rem;
    }
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.card-view .title-card {
    font-weight: 700;
    margin-bottom: 1rem;
}

.sticky-view {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header-top {
    background: #226e54;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

    h5 {
        line-height: 45px;
        margin: 0;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-align: center;
    }

    .btn-back {
        padding-left: .5rem;
        padding-right: .5rem;
        color: #fff;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 2rem;

        &:hover {
            text-decoration: none;
        }
    }

    .btn-menu {
        width: 40px;
        height: 40px;
        margin: 5px;
        display: inline-block;

        .btn-close {
            text-align: center;
            line-height: 40px;
            color: #5d5d5d;
        }

        &.btn-user img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            box-sizing: border-box;
            vertical-align: middle;
            border-radius: 50%;
        }

        &.btn-alert {
            display: block;
            line-height: 45px;
            text-align: center;
            position: relative;
            font-size: 20px;
            color: #ffc107;

            .counter {
                position: absolute;
                top: 0;
                right: 0;
                text-align: center;
                line-height: 20px;
                background-color: #fff;
                color: #000;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: .875rem;
            }
        }
    }
}


.bg-img-1 {
    background-position: center;
    background-size: cover;
    background-image: url(../../image_SoLienLacDienTu/block-chinh.png);
}

.menu-bottom {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;

    .menu-main {
        max-width: 600px;
        background-color: #fff;
        box-shadow: 0 -3px 5px 0 rgba(193,193,193,.3);
        -webkit-box-shadow: 0 -3px 5px 0 rgba(193,193,193,.3);
        -moz-box-shadow: 0 -3px 5px 0 rgba(193,193,193,.3);
    }

    .link-menu {
        a {
            color: #cfcccc;
            text-align: center;
            padding: 15px 0;
            display: block;
            width: 20%;

            &:hover {
                text-decoration: none;
            }

            i {
                display: block;
                font-size: 1.3rem;
            }

            span {
                font-size: .8rem;
                margin-top: 5px;
                line-height: 15px;
                height: 30px;
            }

            &.home-center {
                width: 65px;
                height: 65px;
                padding: 10px;
                margin: -.75rem auto .25rem auto;
                border-radius: 50%;
                background-color: #226e54;
            }

            &:last-child {
                border-right: 0 solid #fff;
            }

            &.active {
                color: #226e54;
            }
        }
    }
}

.navabar {
    position: sticky;
    top: 0;
    width: 100%;
    background: #226e54;
    text-align: center;
    z-index: 99;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.navabar .navabar-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navabar .navabar-main .text {
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
    flex-grow: revert;
}

.navabar .navabar-main .alert-top {
    position: relative;
    display: block;
    color: #ffc107;
    padding-left: .5rem;
}

.navabar .navabar-main .alert-top sup {
    position: absolute;
    top: .1rem;
    left: 1rem;
}

.navabar .navabar-main .alert-top sup .counter {
    font-size: 1rem;
}

.navabar > a {
    position: absolute;
    display: block;
    padding: .25rem .75rem;
    top: 6px;
    left: 0;
}

.navabar > a > img {
    height: 18px;
    display: block;
}

.navabar span {
    flex-grow: 1;
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
}

.page-view {
    min-height: 100vh;
}

@import "_pageSLLBooks.scss";
