﻿/*nhận biết*/ 
/*
<div class="col-4 p-1" >
 <div class="block-know" >
  <a id="image_1" class="block-main_les3--vocab d-flex flex-column align-items-center" href="javascript:void(0)" onclick="playAudio(1)" >
     <img src="../../../imageGame/DoodleNursery/vocabulary-image/mat.png" />
    <span > Eyes</span >
  </a >
 </div >
</div >*/
.block-know a {
    border: 3px solid #226E54;
    color: #226E54;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #80808085;
    text-decoration: none;
}
.block-know img {
    width: 100%;
    padding: 2%;
}
