﻿a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

.block-main {
    padding-bottom: 10rem;
    min-height: 100vh;
    background: #f0fff5;
}

.block-lesson {
    /*background: white;
    font-size: 17px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 8px 14px 1px #80808036;*/
    padding: -19px;
    background: white;
    font-size: 17px;
    background-size: -27%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 8px 14px 1px #80808036;
    /* padding-left: 10%; */
}

.block-lesson_chonce {
    font-weight: 700;
    border-left: 5px solid green;
    width: 28rem;
    margin: 2% 0;
    text-decoration: none;
    padding: 2% 4%;
}

.block-lesson-tiltle {
    border: 2px solid #226e54;
    align-items: center;
    padding: 3%;
    font-weight: 700;
    color: #226e54;
}

.block-list {
    padding: 3%;
}

.block-list__tiltle {
    font-family: cursive;
    font-size: 20px;
    color: #1f6749;
    font-weight: 700;
    text-align: center;
}

.block-tiltle {
    display: flex;
    width: 100%;
    color: #226e54;
    font-family: cursive;
    font-size: 28px;
    font-weight: 600;
}

.green {
    color: #138a14;
    background: #7fffd429;
}

.yellow {
    color: #bd2130;
    text-decoration: none;
    border-left: 5px solid #bd2130;
    background: antiquewhite;
}

.red {
    border-left: 5px solid #ffc107;
    color: #ffc107;
    background: #fff8e5;
}

.block-lesson__avatar {
    /* width: 40%;*/
    width: 94%;
}

    .block-lesson__avatar img {
        max-width: 103%;
        /* border-radius: 11px; */
        /* display: none; */
        left: 10%;
        /* border-top-left-radius: 10px; */
        margin-left: 0%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

.block-lesson__content {
    /* color: #206846;
    width: 60%;
    padding: 2%;*/
    color: #206846;
    width: 147%;
    padding: 3%;
}

.block-lesson__content--tiltle {
    font-weight: 700;
}

.item-lesson-avatar {
    width: 35%;
}


.item-lesson-title {
    width: 65%;
    padding-left: 15px;
}

    .item-lesson-title a {
        color: #226e54;
        font-weight: 600;
        font-size: 20px;
    }
