﻿.block-infor_tiltle {
    background-color: #F4F5F9;
    padding: 10px 0px 10px 0px;
    margin-top:7px;
}
.block-infor_tiltle--icon {
    font-size: 20px;
    color: #226E54;
}
.block-video {
/*    padding-top:10px;*/
    text-align:center;
}
    .block-video iframe{
        width:100%;
        height:40vh;
    }
    .block-infor_table table tbody tr td {
        font-weight: 600;
        font-size: 20px;
        padding: 5px 0px 5px 0px;
    }
.block-content {
    color: #226E54;
    display: flex;
    align-items: flex-start;
}