﻿<%@ Page Title="" Language="C#" MasterPageFile="~/GameBooksMasterPage.master" AutoEventWireup="true" CodeFile="DefaultGame.aspx.cs" Inherits="DefaultGame" %>

<%@ Register Src="~/web_usercontrol/DoobleTown3/Know_Unit1_2_6.ascx" TagPrefix="uc1" TagName="Know_Unit1_2_6" %>
<%@ Register Src="~/web_usercontrol/DoobleTown3/Read_Unit1_6_5.ascx" TagPrefix="uc1" TagName="Read_Unit1_6_5" %>
<%@ Register Src="~/web_usercontrol/DoobleTown3/Connect_Unit1_7_3.ascx" TagPrefix="uc1" TagName="Connect_Unit1_7_3" %>
<%@ Register Src="~/web_usercontrol/DoobleTown3/Count_Unit1_10_10.ascx" TagPrefix="uc1" TagName="Count_Unit1_10_10" %>
<%@ Register Src="~/web_usercontrol/DoobleTown3/Circle_Unit1_11_3.ascx" TagPrefix="uc1" TagName="Circle_Unit1_11_3" %>
<%@ Register Src="~/web_usercontrol/AcandemyStars2/Circle_Unit1_5_2.ascx" TagPrefix="uc1" TagName="Circle_Unit1_5_2" %>
<%@ Register Src="~/web_usercontrol/AcandemyStars2/Writing_Unit1_11_1.ascx" TagPrefix="uc1" TagName="Writing_Unit1_11_1" %>
<%@ Register Src="~/web_usercontrol/AcandemyStars2/Read_Unit1_14_5.ascx" TagPrefix="uc1" TagName="Read_Unit1_14_5" %>
<%@ Register Src="~/web_usercontrol/AcandemyStars2/Circle_Unit1_19_4.ascx" TagPrefix="uc1" TagName="Circle_Unit1_19_4" %>
<%@ Register Src="~/web_usercontrol/AcandemyStars2/Circle_Unit3_38_3.ascx" TagPrefix="uc1" TagName="Circle_Unit3_38_3" %>
<%@ Register Src="~/web_usercontrol/AcandemyStars2/Circle_Unit5_69_6.ascx" TagPrefix="uc1" TagName="Circle_Unit5_69_6" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Reading_Unit1_8.ascx" TagPrefix="uc1" TagName="Reading_Unit1_8" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Count_Unit1_10_4.ascx" TagPrefix="uc1" TagName="Count_Unit1_10_4" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Count_unit5_7_6.ascx" TagPrefix="uc1" TagName="Count_unit5_7_6" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Circle_Unit1_11_4.ascx" TagPrefix="uc1" TagName="Circle_Unit1_11_4" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Connect_Unit1_6_6.ascx" TagPrefix="uc1" TagName="Connect_Unit1_6_6" %>













<asp:Content ID="Content1" ContentPlaceHolderID="Link" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Menu" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="TopWrapper" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Wrapper" Runat="Server">
    <%--<uc1:Count_Unit1_10_4 runat="server" ID="Count_Unit1_10_4" />--%>
   <%--<uc1:Know_Unit1_2_6 runat="server" ID="Know_Unit1_2_6" />--%>
    <%--<uc1:Read_Unit1_6_5 runat="server" ID="Read_Unit1_6_5" />--%>
    <%--<uc1:Connect_Unit1_7_3 runat="server" ID="Connect_Unit1_7_3" />--%>
  <%--  <uc1:Count_Unit1_10_10 runat="server" ID="Count_Unit1_10_10" />--%>
    <%--<uc1:Circle_Unit1_11_3 runat="server" ID="Circle_Unit1_11_1" />--%>
    <%--<uc1:Connect_Unit1_6_6 runat="server" ID="Connect_Unit1_6_6" />--%>
    <%--<uc1:Circle_Unit1_5_2 runat="server" ID="Circle_Unit1_5_2" />--%>
    <%--<uc1:Writing_Unit1_11_1 runat="server" ID="Writing_Unit1_11_1" />--%>
    <%--<uc1:Read_Unit1_14_5 runat="server" ID="Read_Unit1_14_5" />--%>
    <%--<uc1:Circle_Unit1_19_4 runat="server" ID="Circle_Unit1_19_4" />--%>
    <%--<uc1:Circle_Unit3_38_3 runat="server" ID="Circle_Unit3_38_3" />--%>
    <%--<uc1:Circle_Unit5_69_6 runat="server" ID="Circle_Unit5_69_6" />--%>
    <%--<uc1:Circle_Unit1_11_4 runat="server" ID="Circle_Unit1_11_4" />--%>
    <%--<uc1:Reading_Unit1_8 runat="server" ID="Reading_Unit1_8" />--%>
    <%--<uc1:Count_unit5_7_6 runat="server" ID="Count_unit5_7_6" />--%>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="BottomWrapper" Runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Footer" Runat="Server">
</asp:Content>

