﻿<%@ Page Title="" Language="C#" MasterPageFile="~/GameBooksMasterPage.master" AutoEventWireup="true" CodeFile="Default_AcademyStars1.aspx.cs" Inherits="web_module_Default_AcademyStars1" %>

<%@ Register Src="~/web_usercontrol/AcademyStars3/Read_Unit2_32_2.ascx" TagPrefix="uc1" TagName="Read_Unit2_32_2" %>
<%@ Register Src="~/web_usercontrol/AcademyStars3/LookAndRead_Unit2_33_4.ascx" TagPrefix="uc1" TagName="LookAndRead_Unit2_33_4" %>
<%@ Register Src="~/web_usercontrol/AcademyStars3/Read_Unit7_91_6.ascx" TagPrefix="uc1" TagName="Read_Unit7_91_6" %>
<%@ Register Src="~/web_usercontrol/AcademyStars3/Read_Unit8_102_3.ascx" TagPrefix="uc1" TagName="Read_Unit8_102_3" %>
<%@ Register Src="~/web_usercontrol/AcademyStars1/Circle_UnitWelcome_6_6.ascx" TagPrefix="uc1" TagName="Circle_UnitWelcome_6_6" %>





<asp:Content ID="Content1" ContentPlaceHolderID="Link" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Menu" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="TopWrapper" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Wrapper" Runat="Server">
    <%--<uc1:Read_Unit8_102_3 runat="server" ID="Read_Unit8_102_3" />--%>
    <uc1:Circle_UnitWelcome_6_6 runat="server" ID="Circle_UnitWelcome_6_6" />
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="BottomWrapper" Runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Footer" Runat="Server">
</asp:Content>

