﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SoLienLacMasterPage.master" AutoEventWireup="true" CodeFile="DefaultGame_3.aspx.cs" Inherits="DefaultGame_3" %>

<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Circle_Unit1_13_6.ascx" TagPrefix="uc1" TagName="Circle_Unit1_13_6" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit4/Choose_Unit4_33_15.ascx" TagPrefix="uc1" TagName="Choose_Unit4_33_15" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit6/Liste _Unit6_49_9.ascx" TagPrefix="uc1" TagName="Liste_Unit6_49_9" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_7_10.ascx" TagPrefix="uc1" TagName="Listen_Unit1_7_10" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Look_Unit1_7_10.ascx" TagPrefix="uc1" TagName="Look_Unit1_7_10" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_8_1.ascx" TagPrefix="uc1" TagName="Listen_Unit1_8_1" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_8_4.ascx" TagPrefix="uc1" TagName="Listen_Unit1_8_4" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_9_8.ascx" TagPrefix="uc1" TagName="Listen_Unit1_9_8" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Look_Unit1_9_2.ascx" TagPrefix="uc1" TagName="Look_Unit1_9_2" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_10_1.ascx" TagPrefix="uc1" TagName="Listen_Unit1_10_1" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_11_2.ascx" TagPrefix="uc1" TagName="Listen_Unit1_11_2" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Listen_Unit1_11_8.ascx" TagPrefix="uc1" TagName="Listen_Unit1_11_8" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/listen_Unit1_6_1.ascx" TagPrefix="uc1" TagName="listen_Unit1_6_1" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Make_Unit1_12_1.ascx" TagPrefix="uc1" TagName="Make_Unit1_12_1" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Work_Unit1_10_2.ascx" TagPrefix="uc1" TagName="Work_Unit1_10_2" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Work_Unit1_12_1.ascx" TagPrefix="uc1" TagName="Work_Unit1_12_1" %>
<%@ Register Src="~/web_usercontrol/AcademyStarsS/unit1/Work_Unit1_13_2.ascx" TagPrefix="uc1" TagName="Work_Unit1_13_2" %>



















<asp:Content ID="Content1" ContentPlaceHolderID="Header" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Menu" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="TopWrapper" runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Wrapper" runat="Server">
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="BottomWrapper" runat="Server">
    <%--   <uc1:Listen_Unit1_8_1 runat="server" ID="Listen_Unit1_8_1" />--%>
    <%-- <uc1:Look_Unit1_7_10 runat="server" ID="Look_Unit1_7_10" />
    <%--<uc1:Listen_Unit1_8_1 runat="server" ID="Listen_Unit1_8_1" />--%>
    <%--    <uc1:Listen_Unit1_8_4 runat="server" ID="Listen_Unit1_8_4" />--%>
    <%--<uc1:Listen_Unit1_9_8 runat="server" ID="Listen_Unit1_9_8" />--%>
    <%--<uc1:Look_Unit1_9_2 runat="server" ID="Look_Unit1_9_2" />--%>
    <%--<uc1:Circle_Unit1_13_6 runat="server" ID="Circle_Unit1_13_6" />--%>
    <%--<uc1:Listen_Unit1_10_1 runat="server" ID="Listen_Unit1_10_1" />--%>
    <%--<uc1:Listen_Unit1_11_2 runat="server" ID="Listen_Unit1_11_2" />--%>
    <%--<uc1:Listen_Unit1_11_8 runat="server" ID="Listen_Unit1_11_8" />--%>
    <%--    <uc1:listen_Unit1_6_1 runat="server" ID="listen_Unit1_6_1" />--%>


    <%--    <uc1:Listen_Unit1_8_4 runat="server" ID="Listen_Unit1_8_4" />
    <uc1:Listen_Unit1_9_8 runat="server" ID="Listen_Unit1_9_8" />
    <uc1:Look_Unit1_9_2 runat="server" ID="Look_Unit1_9_2" />
   
    <uc1:Make_Unit1_12_1 runat="server" ID="Make_Unit1_12_1" />
    <uc1:Work_Unit1_10_2 runat="server" ID="Work_Unit1_10_2" />
    <uc1:Work_Unit1_12_1 runat="server" ID="Work_Unit1_12_1" />
    <uc1:Work_Unit1_13_2 runat="server" ID="Work_Unit1_13_2" />--%>
    <uc1:Work_Unit1_10_2 runat="server" ID="Work_Unit1_10_2" />
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Footer" runat="Server">
</asp:Content>

