﻿<%@ Page Title="" Language="C#" MasterPageFile="~/GameBooksMasterPage.master" AutoEventWireup="true" CodeFile="DefaultGame2.aspx.cs" Inherits="DefaultGame2" %>

<%@ Register Src="~/web_usercontrol/DoodleTown1/Know_Unit1_4_4.ascx" TagPrefix="uc1" TagName="Know_Unit1_4_4" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Connect_Unit1_6_6.ascx" TagPrefix="uc1" TagName="Connect_Unit1_6_6" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Count_Unit1_10_4.ascx" TagPrefix="uc1" TagName="Count_Unit1_10_4" %>
<%@ Register Src="~/web_usercontrol/DoodleTown1/Count_Unit2_18_3.ascx" TagPrefix="uc1" TagName="Count_Unit2_18_3" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Know_Unit1_2_5.ascx" TagPrefix="uc1" TagName="Know_Unit1_2_5" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Question_Unit1_4_3.ascx" TagPrefix="uc1" TagName="Question_Unit1_4_3" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Read_Unit1_6_4.ascx" TagPrefix="uc1" TagName="Read_Unit1_6_4" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/ABCSong_Unit1_8_16.ascx" TagPrefix="uc1" TagName="ABCSong_Unit1_8_16" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/ABCSong_Unit1_9_10.ascx" TagPrefix="uc1" TagName="ABCSong_Unit1_9_10" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Count_Unit1_10_5.ascx" TagPrefix="uc1" TagName="Count_Unit1_10_5" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Circle_Unit1_11_4.ascx" TagPrefix="uc1" TagName="Circle_Unit1_11_4" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Count_Unit2_20_6.ascx" TagPrefix="uc1" TagName="Count_Unit2_20_6" %>
<%@ Register Src="~/web_usercontrol/DoodleTown2/Count_Unit4_40_10.ascx" TagPrefix="uc1" TagName="Count_Unit4_40_10" %>



<asp:Content ID="Content1" ContentPlaceHolderID="Link" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Menu" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="TopWrapper" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Wrapper" Runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="BottomWrapper" Runat="Server">
    <%--<uc1:Know_Unit1_4_4 runat="server" ID="Know_Unit1_4_4" />
    <uc1:Connect_Unit1_6_6 runat="server" ID="Connect_Unit1_6_6" />
    <uc1:Count_Unit1_10_4 runat="server" ID="Count_Unit1_10_4" />
    <uc1:Count_Unit2_18_3 runat="server" ID="Count_Unit2_18_3" />
    <uc1:Know_Unit1_2_5 runat="server" ID="Know_Unit1_2_5" />
    <uc1:Question_Unit1_4_3 runat="server" ID="Question_Unit1_4_3" />
    <uc1:Read_Unit1_6_4 runat="server" ID="Read_Unit1_6_4" />
    <uc1:ABCSong_Unit1_8_16 runat="server" ID="ABCSong_Unit1_8_16" />
    <uc1:ABCSong_Unit1_9_10 runat="server" ID="ABCSong_Unit1_9_10" />--%>
    <%--<uc1:Count_Unit1_10_5 runat="server" ID="Count_Unit1_10_5" />--%>
    <%--<uc1:Circle_Unit1_11_4 runat="server" ID="Circle_Unit1_11_4" />--%>
    <%--<uc1:Count_Unit2_20_6 runat="server" ID="Count_Unit2_20_6" />--%>
    <uc1:Count_Unit4_40_10 runat="server" ID="Count_Unit4_40_10" />
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Footer" Runat="Server">
</asp:Content>

