﻿body {
}
.block-read {
    margin-left: 58%;
}
.block-text-content {
    font-size: 256%;
    width: 79%;
    tab-size: 53%;
    text-align: center;
    display: contents;
}
.block-text-content_write {
    width: 7%;
    border: none;
    border-bottom: 1px solid black;
}
.