﻿/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
body {
  position: relative;
  line-height: 1.5;
  font-size: 14px;
  margin: 0 auto;
  /*max-width: 600px;*/
}

img {
  max-width: 100%;
}

.mobile body {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-view .title-card {
  font-weight: 600;
  color: #B51A1A;
}

.sticky-view {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-top {
  background: #B51A1A;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-top h5 {
  line-height: 45px;
  margin: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.header-top .btn-menu {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
}
.header-top .btn-menu.btn-alert {
  display: block;
  line-height: 45px;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #ffc107;
}
.header-top .btn-menu.btn-alert .counter {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.875rem;
}
.header-top .btn-menu.btn-close {
  text-align: center;
  line-height: 40px;
  color: #5d5d5d;
}
.header-top .btn-menu.btn-user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 50%;
}

.bg-img-1 {
  background-position: center;
  background-size: cover;
  background-image: url(../../image_SoLienLacDienTu/block-chinh.png);
}

.menu-bottom {
  position: sticky;
  bottom: 0px;
  z-index: 99;
  width: 100%;
}

.menu-bottom .container-fluid {
  background-color: #ffffff;
  box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
  -moz-box-shadow: 0px -3px 5px 0px rgba(193, 193, 193, 0.3);
}

.menu-bottom a:hover {
  text-decoration: none;
}

.menu-bottom a {
  color: #cfcccc;
  /* border-right: 1px solid #fff; */
  /* border-top: 2px solid #fff; */
  text-align: center;
  padding: 15px 0;
  display: block;
  width: 20%;
}

.menu-bottom a:last-child {
  border-right: 0px solid #fff;
}

.menu-bottom a.active {
  color: #ffbf00;
  /* border-top: 2px solid #ffbf00; */
}

.menu-bottom a i {
  display: block;
  font-size: 1.3rem;
}

.menu-bottom a span {
  /*display: none;*/
  font-size: 0.8rem;
  margin-top: 5px;
  line-height: 15px;
  height: 30px;
}

.navabar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #B51A1A;
  text-align: center;
  z-index: 99;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.navabar .navabar-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navabar .navabar-main .text {
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  flex-grow: revert;
}
.navabar .navabar-main .alert-top {
  position: relative;
  display: block;
  color: #ffc107;
  padding-left: 0.5rem;
}
.navabar .navabar-main .alert-top sup {
  position: absolute;
  top: 0.1rem;
  left: 1rem;
}
.navabar .navabar-main .alert-top sup .counter {
  font-size: 1rem;
}
.navabar > a {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  top: 6px;
  left: 0;
}
.navabar > a > img {
  height: 18px;
  display: block;
}
.navabar span {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
}
