﻿a:hover {
  text-decoration-line: none;
  color: #B51A1A;
}

#section-alert {
  background-color: #f3f5f9;
}
#section-alert .container-fluid {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#section-alert .container-fluid .card-view {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.alert-content {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 0.75rem;
}
.alert-content .class {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #6c757d;
  color: #fff;
  font-size: 85%;
}
.alert-content .content {
  color: black;
}
.alert-content .status img {
  height: 20px;
}

.icon-menu-cate .block-main {
  display: block;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.25rem;
  margin-bottom: 1rem;
  text-align: center;
}
.icon-menu-cate .block-main img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
}
.icon-menu-cate .block-main .text {
  display: block;
  color: black;
  height: 42px;
}

#section-block-1 {
  background-color: #f3f5f9;
}
#section-block-1 .container-fluid {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#section-block-1 .container-fluid .card-view {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}
#section-block-1 .container-fluid .card-view .title-card {
  margin-bottom: 1rem;
}

#section-block-2 .card-view {
  padding: 1rem;
}

.card-event .block-main .event img {
  border-radius: 0.25rem;
  height: 150px;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.TrangChu_ThongBao {
  padding: 9% 4% 24% 4%;
}

.TrangChu_tb_box {
  background-color: rgba(255, 248, 248, 0.8509803922);
  display: flex;
  width: 90%;
  margin: 3% auto;
  border-radius: 10px;
  height: 53px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 4px 1px -1px rgba(157, 155, 155, 0.5490196078);
}

.TrangChu_tb_box span {
  color: black;
  margin-left: 2%;
  font-size: 81%;
  /*width: 68%;*/
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.TrangChu_tb {
  display: flex;
  height: 4%;
  position: absolute;
  margin-top: -9%;
  margin-left: 0.5%;
  width: 20%;
  background: #B51A1A;
  font-weight: 500;
  color: #ffffff;
  /* display: block; */
  box-shadow: 4px 5px 15px 0px #e78888;
  justify-content: center;
  align-items: center;
}

.TrangChu_tb span {
  font-size: 60%;
  padding: 2%;
}

.TrangChu_tb_class {
  margin: 2%;
  color: saddlebrown;
  text-transform: uppercase;
  font-size: 84%;
  /* padding: 0%; */
  display: flex;
  width: 30%;
  height: 69%;
  background: #B8F879;
  border: 1px solid #418300;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Vien {
  border-top: none;
  margin-bottom: 5%;
}

.TrangChu_tb_tn {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 28px;
  background: #44AE1E;
  color: #FFF8F8;
  font-size: 80%;
  text-align: center;
}

.TrangChu_ld {
  display: flex;
  background-image: linear-gradient(to right, #0679bb 51%, #1d00c9 100%);
  color: #721c24;
}

.TrangChu_ld_hdd {
  width: 28%;
  height: auto;
}

.TrangChu_ld_hdd img {
  margin: 7% auto;
  height: 121px;
  border-radius: 8px;
  border: 4px dashed #b51a1a;
  margin-left: 1%;
  width: 100%;
}

.TrangChu_chung {
  display: flex;
}

.TrangChu_hd {
  box-shadow: beige;
  border-radius: 42px;
  text-align: center;
  height: 131px;
  display: flex;
  width: 34%;
  font-weight: 900;
  color: rgba(255, 248, 248, 0.8509803922) !important;
  background: #EB4848;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1%;
  align-items: center;
}

.hinh_hs {
  /*z-index: -5;*/
  height: auto;
  width: 47%;
  margin: 1%;
  background: #FFD7D7;
  box-sizing: border-box;
  border-radius: 4px;
}

.TrangChu_hinh {
  background-color: antiquewhite;
  justify-content: center;
  margin-bottom: 2%;
  padding-bottom: 3%;
  display: flex;
}

.hinh_next {
  display: flex;
  text-align: center;
  background: #ffdf00;
  align-items: center;
  font-size: 65%;
  font-weight: 700;
  margin: 1%;
  padding: 1%;
  justify-content: center;
}

.Background_Trangchu_dm {
  background-size: cover;
  background-image: url("../../sass/Preschool/images/images_TrangChu_DanhMuc/block-chinh.png");
  margin-bottom: 10%;
  background-color: #ffffff;
  margin: -43% 0% 30% 0%;
  background-position: center;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.Trangchu_dm {
  display: flex;
  flex: 0 0 33.333333%;
}

.title-chinh {
  width: 100%;
  text-align: -webkit-center;
}

.ten {
  background-color: #ff7f7f;
  font-weight: 700;
  color: white;
  padding: 3%;
  width: 57%;
  margin-top: 5%;
  position: relative;
  margin-bottom: 33%;
  font-size: 160%;
  border-radius: 15px;
}

.dm_sk {
  /* background-image: linear-gradient(to right, #e7452c 0%, #ec2e34 51%, #b80702 100%);*/
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1%;
  margin-bottom: 7%;
  margin-top: 13%;
}

.dm_sngh {
  /*background-image: linear-gradient(to right, #548591 0%, #264485 51%, #001fbc 100%);*/
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 4%;
  /*border: 2px solid #140080;*/
  color: #140080;
  margin-top: 13%;
}

.Trangchu_dm a {
  background-color: white;
}

.Trangchu_dm_nh img {
  background-color: white;
  border-radius: 25px;
  width: 85%;
  padding: 2%;
}

.Trangchu_dm_nh span {
  color: black;
  font-size: 78%;
}

.dm_dth {
  /*background-image: linear-gradient(to right, #e1004c 0%, #bf0343 51%, #b11247 100%);*/
  /*border: 2px solid #050dff;*/
  /*color: #050dff;*/
  margin-left: 4%;
  margin-top: 13%;
}

.dm_dp {
  /*background-image: linear-gradient(to right, #00a30e 0%, #06832e 51%, #006c4c 100%);
          margin-left: 1%;*/
  /*border: 2px solid #a18500;*/
  /*color: #a18500;*/
  margin-left: 1%;
}

.dm_xe {
  /*background-image: linear-gradient(to right, #9f027b 0%, #81009d 51%, #630076 100%);
          margin-left: 1%;*/
  /*border: 2px solid #ff5e00;*/
  /*color: #ff5e00;*/
  margin-left: 4%;
}

.dm_ngk {
  /*background-image: linear-gradient(to right, #e7452c 0%, #ec2e34 51%, #b80702 100%);*/
  /*border: 2px solid #ff00f7;*/
  /*color: #ff00f7;*/
  margin-left: 4%;
}

.dm_dk {
  margin-left: 1%;
  margin-bottom: 5%;
  margin-top: 7%;
}

.dm_hdk {
  margin-left: 4%;
  margin-bottom: 5%;
  margin-top: 7%;
}

.dm_dg {
  margin-left: 4%;
  margin-bottom: 5%;
  margin-top: 7%;
}

.tendm {
  margin-top: -8%;
  margin-bottom: 4%;
  line-height: 100%;
}

.tendm1 {
  margin-bottom: 2.5%;
}

.tendm2 {
  margin-top: -8%;
  margin-bottom: 4%;
  line-height: 103%;
}

.tendm3 {
  margin-top: 3%;
  margin-bottom: 4.5%;
  line-height: 100%;
}

.hinh_hs img {
  width: 101%;
  height: 107px;
}

.khung_ThongBao {
  height: 143px;
  margin: 0 1% 1% 1%;
  background-size: cover;
  padding: 1%;
}

.khung_ThongBao {
  background-image: url("/image_SoLienLacDienTu/thong-bao.jpg");
  /*background-image: url(https://cdn0.vox-cdn.com/uploads/chorus_asset/file/3493392/firewatch_150305_01.0.png);*/
}

.notification {
  width: 40px;
  margin: 1%;
  font-size: 12px;
  height: 24px;
  background-color: red;
  font-weight: 700;
  display: flex;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ma-panel-heading-2 {
  margin-bottom: -11px;
  width: 44%;
  background-color: #ee353a;
  color: #fff;
  padding: 10px 20px 10px 35px;
  margin-left: -6px;
  margin-top: -14px;
  font-size: 11px;
  /* z-index: 1000; */
  font-weight: 800;
  display: flex;
  position: relative;
  padding: 2%;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 4px 1px rgba(27, 30, 33, 0.5803921569);
}

.ma-panel-heading-2:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -15px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-color: transparent;
  border-style: solid;
  border-right-color: #b52221;
  z-index: -14;
}

.ma-panel-heading {
  margin-bottom: -11px;
  width: 26%;
  background-color: #86d729;
  color: #fff;
  padding: 10px 20px 10px 35px;
  margin-left: -12px;
  margin-top: -14px;
  font-size: 11px;
  /* z-index: 1000; */
  font-weight: 800;
  display: flex;
  position: relative;
  padding: 2%;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 4px 1px rgba(27, 30, 33, 0.5803921569);
}

.ma-panel-heading:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -15px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-color: transparent;
  border-style: solid;
  border-right-color: #4caf50;
  z-index: -14;
}

.half-circle-ribbon {
  background: #86d729;
  color: #FFF;
  height: 29px;
  width: 45px;
  text-align: right;
  position: absolute;
  top: -1px;
  padding: 3%;
  right: -1px;
  font-size: 13px;
  flex-direction: row;
  border-radius: 0 0 0 100%;
  /* border: 1px dashed #FFF; */
  box-shadow: 0 0 0 3px #4caf50;
}

ul.notifications-container {
  margin-bottom: 0;
  max-height: 15rem;
  overflow: auto;
}

li.notification-list-item {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding: 5px 10px;
  border-bottom: 1px solid #bfbfbf;
}

span.date_notification {
  font-size: 1rem;
  color: #4b4b4b;
  /*float: right;*/
  font-weight: normal;
}

.diemdanh2::before {
  content: "";
  background-image: url(/images/dang-o-truong.png) !important;
  width: 44%;
  color: white;
  height: 3rem;
  margin-left: 83%;
  z-index: 10;
  border-radius: 6px;
  /* background: #c90000; */
  position: absolute;
  /* box-shadow: -2px 5px 10px -3px #8080806e; */
  margin-top: 38%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.diemdanh2::before {
  content: "";
  background-image: url(/images/da-ra-ve.png) !important;
  width: 44%;
  color: white;
  height: 3rem;
  margin-left: 83%;
  z-index: 10;
  border-radius: 6px;
  /* background: #c90000; */
  position: absolute;
  /* box-shadow: -2px 5px 10px -3px #8080806e; */
  margin-top: 38%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.diemdanh1::before {
  content: "";
  background-image: url(/images/dang-o-truong.png) !important;
  width: 44%;
  color: white;
  height: 3rem;
  margin-left: 83%;
  z-index: 10;
  border-radius: 6px;
  /* background: #c90000; */
  position: absolute;
  /* box-shadow: -2px 5px 10px -3px #8080806e; */
  margin-top: 38%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.diemdanh2:hover::before {
  content: "";
  -webkit-transform: translateX(-60%);
  -ms-transform: translateX(-60%);
  transform: translateX(-60%);
}

.diemdanh:hover::before {
  content: "";
  -webkit-transform: translateX(-60%);
  -ms-transform: translateX(-60%);
  transform: translateX(-60%);
}

body {
  overflow-x: hidden;
}
