﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="web_module_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
    </title>
</head>

<body>

    <form id="form1" runat="server">
        <div>
            <div class="container-fluid bgr">
                <script>
                    $(document).ready(function () {
                        $('[data-toggle="popover"]').popover();
                    });
                </script>
                <img src="../images/bgr_school.jpg" />
                <div class="chaien">
                    <a href="#" id="chaien" data-toggle="popover" title="Popover Header" runat="server" onserverclick="chaien_ServerClick" data-cotent="ădadwaasdwassdsfs">
                        <img src="../images/chaien.png" /></a>
                </div>
                <%--<button class="btn btn-danger" id="btnChaien" runat="server" >ădadwadashdah</button>--%>
                <audio id="MyAudio" runat="server" />
            </div>
            <script>
                setTimeout(function playMusic() {
                    document.getElementById("MyAudio").play();
                }, 1000);
            </script>
            <script src="../js/jquery.min.js"></script>
        </div>
    </form>
</body>
</html>
