﻿.block_right {
    display: flex;
    flex-direction: column;
}
.block_left{
    display: flex;
}
.block-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11%;
}
.block-circle {
    /*border: 5px solid green;*/
    border-radius: 50%;
    padding: 25px;
    margin-bottom: 11%;
}
.cricle-false {
    border: 5px solid red;
}
.cricle-true {
    border: 5px solid green;
}