﻿@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.btn-position-absolute {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
}
.btn-position-absolute.btn-selectAll {
  top: -1.25rem;
  right: 2rem;
}
.btn-position-absolute.btn-Plus {
  left: 53%;
  bottom: 12%;
}
.btn-position-absolute.btn-Minus {
  left: 43%;
  bottom: 12%;
}
.btn-position-absolute.btn-Next {
  bottom: 43%;
  left: 90%;
}
.btn-position-absolute.btn-Prev {
  bottom: 43%;
  left: 5%;
}
.btn-position-absolute.btn-playGame {
  top: -1.25rem;
  right: -1.25rem;
}

.btn-position {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
}
.btn-position.btn_home {
  top: 0.5rem;
  left: 0.5rem;
}
.btn-position.btn_mute {
  bottom: 0.5rem;
  left: 0.5rem;
}
.btn-position.btn_BackCate {
  top: 0.5rem;
  left: 3.5rem;
}

.block-language {
  position: absolute;
  right: 1%;
  top: 2%;
  display: flex;
  z-index: 100;
}
.block-language .btn-language {
  border: 3px solid #fff;
  border-radius: 0.25rem;
  width: 100px;
  height: 60px;
  display: block;
  background-size: cover;
  margin-left: 1rem;
}
.block-language .btn-language.br-vn {
  background-image: url("/images/images_button/icon-vn.png");
}
.block-language .btn-language.br-e {
  background-image: url("/images/images_button/icon-anh.png");
}
.block-language .btn-language.active {
  /*filter: grayscale(0%);*/
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .btn-position-absolute {
    width: 65px;
    height: 65px;
  }
  .btn-position-absolute.btn-selectAll {
    top: -2rem;
    right: 3rem;
  }
  .btn-position-absolute.btn-playGame {
    top: -2rem;
    right: -2rem;
  }
  .btn-position {
    width: 65px;
    height: 65px;
  }
  .btn-position.btn_home {
    top: 1rem;
    left: 1rem;
  }
  .btn-position.btn_mute {
    bottom: 1rem;
    left: 1rem;
  }
  .btn-position.btn_BackCate {
    top: 1rem;
    left: 5.5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}
