﻿body {
    font-family: "Be Vietnam Pro",sans-serif;
    line-height: 1.5;
}

.form-game {
    margin: auto;
    width: 100%;
}

#upImage {
    justify-content: space-evenly;
}

.button .btn {
    display: inline-block;
    transition-duration: .3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateZ(0);
    position: absolute;
    width: 55px;
    z-index: 10;
    right: 1.75rem;
}

    .button .btn.btnSubmit {
        right: 3%;
        top: 35%;
    }

.title-game {
    background-image: url(/images/title-bg-active.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    right: 1%;
    top: 2%;
    position: absolute;
    font-size: 10px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.container-game {
    min-height: 100vh;
    background-image: url(/images/images_background/br-noi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.col-img {
    max-width: 20%;
    margin: 1%;
}

.img_bang:active {
    transform: rotateY(-180deg);
    display: block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 2.5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#myProgress {
    width: 100%;
    background-color: rgba(112,128,144,.431372549);
    border: 2px solid #fff;
    border-radius: 10px;
    height: 100%;
    text-align: center;
}

#myBar {
    background: repeating-linear-gradient(45deg,#23cf2a 0,#2cd32b 10px,#a2f7a6 10px,#8dff92 20px);
    background-repeat: repeat-x;
    text-align: center;
    line-height: 30px;
    color: #fff;
    height: 100%;
    background-size: 400% 100%;
    border-radius: 10px;
    animation: AnimationName 30s linear infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#khung-game {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.frame-game-main {
    background-image: url("/web_module/vietnhatkids_Game/loaigame_TrucXanh/Image_TrucXanh/Khung-Go_TrucXanh.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    padding: 3% 2%;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    max-height: 85vh;
}

    .frame-game-main.--one-item .col-left, .frame-game-main.--one-item .col-right {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

        .frame-game-main.--one-item .col-right .image-choise {
            max-width: 86px;
        }

            .frame-game-main.--one-item .col-right .image-choise img {
                max-height: 100%;
            }

    .frame-game-main .col-left {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

        .frame-game-main .col-left .img_so {
            margin: 0 auto .5rem auto;
            display: block;
            background: #fff;
        }

            .frame-game-main .col-left .img_so img {
                max-width: 80px;
                display: block;
                margin: auto;
            }

    .frame-game-main .col-right {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

        .frame-game-main .col-right .image-choise {
            display: block;
            max-width: 80%;
            margin: 0 auto .5rem auto;
        }

            .frame-game-main .col-right .image-choise .image-list {
                height: 80px;
                border: 3px solid #845120;
                box-shadow: 1px 2px 6px 3px rgba(128,128,128,.2392156863);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border-radius: 9px;
                background: #fff;
            }

                .frame-game-main .col-right .image-choise .image-list img {
                    display: block;
                }

#myBar {
    background: repeating-linear-gradient(45deg,#23cf2a 0,#2cd32b 10px,#a2f7a6 10px,#8dff92 20px);
    background-repeat: repeat-x;
    text-align: center;
    line-height: 30px;
    color: #fff;
    height: 100%;
    background-size: 400% 100%;
    border-radius: 10px;
    animation: AnimationName 30s linear infinite;
}

.gif img {
    width: 11%;
    right: 12%;
    top: 70%;
    position: absolute;
}

.bang img {
    top: 10%;
    position: absolute;
    width: 15%;
    left: 7%;
}

input:focus-visible {
    outline: 0;
    border-radius: 3px;
}

#popup-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 24;
    background: rgba(0,0,0,.2588235294);
}

    #popup-submit .popup .popup-main {
        position: relative;
        display: flex;
        height: 100vh;
    }

        #popup-submit .popup .popup-main .bg-popup {
            position: absolute;
            width: 100%;
            height: 100vh;
            display: flex;
        }

            #popup-submit .popup .popup-main .bg-popup .bg-popup-main {
                max-width: 300px;
                position: relative;
                margin: auto;
            }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main .popup-nen {
                    position: relative;
                }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
                    width: 60%;
                    top: 20%;
                    left: 20%;
                    position: absolute;
                }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
                    bottom: 0;
                    width: 30%;
                    position: absolute;
                    right: -15%;
                }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
                    position: absolute;
                    top: 2%;
                    right: 5%;
                    width: 35px;
                    height: 35px;
                    background: none;
                    border: 0;
                    cursor: pointer;
                }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    right: 25%;
                    bottom: 9%;
                    background: none;
                    border: 0;
                    cursor: pointer;
                }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    left: 50%;
                    margin-left: -22.5px;
                    bottom: 32%;
                    background: none;
                    border: 0;
                    cursor: pointer;
                }

                #popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 24%;
                    bottom: 9%;
                    background: none;
                    border: 0;
                    cursor: pointer;
                }

        #popup-submit .popup .popup-main img.halo {
            position: relative;
            z-index: -1;
            height: 90vh;
            margin: auto;
        }

        #popup-submit .popup .popup-main img.phao {
            position: absolute;
            left: 32.5%;
            z-index: -1;
            width: 35%;
        }

        #popup-submit .popup .popup-main img.phao-1 {
            position: absolute;
            top: 46%;
            left: 15%;
            width: 15%;
            z-index: -1;
        }

        #popup-submit .popup .popup-main img.phao-2 {
            position: absolute;
            top: 46%;
            right: 15%;
            width: 15%;
            z-index: -1;
        }

@media(min-width:992px) {
    #popup-submit .popup .popup-main .bg-popup .bg-popup-main {
        max-width: 500px;
    }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
            width: 60%;
            top: 20%;
            left: 20%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
            bottom: 0;
            width: 30%;
            right: -15%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
            top: 2%;
            right: 5%;
            width: 60px;
            height: 60px;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
            width: 82px;
            height: 82px;
            left: 24%;
            bottom: 15%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
            width: 100px;
            height: 100px;
            margin-left: -35px;
            bottom: 32%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
            width: 82px;
            height: 82px;
            left: 60%;
            bottom: 15%;
        }
}

.question-number {
    position: absolute;
    right: 3%;
    top: 15%;
    width: 70px;
}

    .question-number img {
        position: relative;
    }

    .question-number .number {
        text-align: center;
        position: absolute;
        top: 1.25rem;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        width: 70px;
        margin-left: -35px;
        left: 50%;
    }

.notification {
    height: 100vh;
    margin-top: unset !important;
}

.option {
    width: 12%;
    position: absolute;
    z-index: 2;
    display: flex;
    top: 32%;
    left: 3%;
    flex-direction: column;
}

#btnDe, #btnVua, #btnKho {
    margin: 8%;
    padding: 2%;
    border-radius: 10px;
    text-decoration: unset;
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
}

#btnDe {
    background-color: #3498db;
    border-bottom: 5px solid #2980b9;
    text-shadow: 0 -2px #2980b9;
}

#btnVua {
    background-color: #ff8d32;
    border-bottom: 5px solid #954a16;
    text-shadow: 0 -2px #ff6922;
}

#btnKho {
    background-color: #e74c3c;
    border-bottom: 5px solid #bd3e31;
    text-shadow: 0 -2px #bd3e31;
}

@media(min-width:768px) {
    .frame-game-main {
        width: 50%;
        padding: 3% 2%;
        max-height: 85vh;
    }

        .frame-game-main.--one-item .col-right .image-choise {
            max-width: 106px;
        }

        .frame-game-main .col-left .img_so {
            margin: 0 auto .5rem auto;
        }

            .frame-game-main .col-left .img_so img {
                max-width: 100px;
            }

        .frame-game-main .col-right .image-choise {
            margin: 0 auto .5rem auto;
        }

            .frame-game-main .col-right .image-choise .image-list {
                height: 100px;
            }
}

@media(min-width:992px) {
    #popup-submit .popup .popup-main .bg-popup .bg-popup-main {
        max-width: 500px;
    }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
            width: 60%;
            top: 20%;
            left: 20%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
            bottom: 0;
            width: 30%;
            right: -15%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
            top: 2%;
            right: 5%;
            width: 60px;
            height: 60px;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
            width: 82px;
            height: 82px;
            left: 24%;
            bottom: 15%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
            width: 100px;
            height: 100px;
            margin-left: -35px;
            bottom: 32%;
        }

        #popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
            width: 82px;
            height: 82px;
            left: 60%;
            bottom: 15%;
        }

    .button .btn {
        width: 80px;
    }

        .button .btn.btnSubmit {
            right: 3%;
            top: 40%;
        }

    .frame-game-main.--one-item .col-right .image-choise {
        max-width: 156px;
    }

    .frame-game-main .col-left .img_so img {
        max-width: 150px;
    }

    .frame-game-main .col-right .image-choise .image-list {
        height: 150px;
    }

    #btnDe, #btnVua, #btnKho {
        margin: 8%;
        padding: 2%;
        border-radius: 10px;
        font-size: 30px;
    }

    .question-number {
        right: 3%;
        top: 15%;
        width: 120px;
    }

        .question-number .number {
            top: 40px;
            font-size: 1.5rem;
            width: 100px;
            margin-left: -50px;
            left: 50%;
        }

    .title-game {
        width: 190px;
        height: 65px;
        line-height: 65px;
        font-size: 1rem;
    }
}
