﻿/*base*/
.vocabulary-list img {
    width: 100%;
}
/* 1part4 */
.vocabulary-list .vocabulary-list_1part4 {
    display: flex;
}

.vocabulary-list .vocabulary-list_1part4--left {
    width: 50%;
}

.vocabulary-list .vocabulary-list_1part4--right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

    .vocabulary-list .vocabulary-list_1part4--right .vocabulary-list_1part4--answer {
        width: 50%;
    }

.--check {
    display: flex;
    justify-content: center;
}

.--check__start {
    display: flex;
    justify-content: start;
}
/*Câu hỏi hình ảnh và đáp án check x và v*/
.btn-check {
    padding: 5px;
    border: 1px solid #e0e2e5;
    border-radius: 5px;
    margin-right: 5px;
    background: #e0e2e5;
}

.btn-check-active {
    background: #1672ff;
    color: #fff;
    font-weight: bold;
}

.btn-check-correct {
    background: green;
    color: #fff;
    font-weight: bold;
}

.btn-check-uncorrect {
    background: red;
    color: #fff;
    font-weight: bold;
}

.vocabulary-list .vocabulary-list_Checkxv {
    display: flex;
    width: 100%;
}

    .vocabulary-list .vocabulary-list_Checkxv img {
        width: 50%;
    }

    .vocabulary-list .vocabulary-list_Checkxv .vocabulary-list__Checkxv--question {
        width: 50%;
        display: flex;
        padding: 2%;
        line-height: 8vh;
        font-size: 3vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

.vocabulary-list__Checkxv--answer {
    display: flex;
}
/*inputinpicture*/
.vocabulary-list__inputinpicture--input .input-one, .vocabulary-list__inputinpicture--input .input-two, .vocabulary-list__inputinpicture--input .input-three, .vocabulary-list__inputinpicture--input .input-four, .vocabulary-list__inputinpicture--input .input-five, .vocabulary-list__inputinpicture--input .input-six, .vocabulary-list__inputinpicture--input .input-seven, .vocabulary-list__inputinpicture--input .input-eight, .vocabulary-list__inputinpicture--input .input-nine, .vocabulary-list__inputinpicture--input .input-ten {
    position: absolute;
    width: 3.5vw;
    height: 5vh;
    font-weight: 600;
    font-size: 3vh;
    background: white;
    margin: 0 4%;
    box-shadow: 0px 0px 1px 1px green;
}

.vocabulary-list__image {
    width: 100%;
}

.long-input a {
    width: 10vw !important;
}

.vocabulary-list .vocabulary-list__answer center a {
    padding: 0 1%;
    margin: 0 7%;
    text-decoration: none;
}

.vocabulary-list .vocabulary-list__answer center {
    padding: 0 7%;
    display: flex;
    justify-content: center;
}
/*chia 6 trong vacabulary list */
.vocabulary-list--items-6 .vocabulary-item {
    width: calc(30% - 0.75rem);
    max-width: calc(30% - 0.75rem);
    margin: 0.25rem;
    flex-basis: auto;
}
/*commication*/
.vocabulary-list .vocabulary-list__commication center {
    padding: 0 7%;
    display: flex;
    justify-content: center;
}

.vocabulary-list .vocabulary-list__commication .vocabulary-commication {
    margin: 2% 0;
    font-size: 3vh;
    line-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

    .vocabulary-list .vocabulary-list__commication .vocabulary-commication audio {
        width: 12vw;
        height: 7vh;
    }

.vocabulary-commication__text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.vocabulary-list .vocabulary-list__commication {
    height: 86%;
    display: flex;
    flex-direction: column;
}

.vocabulary-commication img {
    box-shadow: rgb(0 0 0 / 17%) 0px 5px 15px;
    width: 30%;
    border: 3px solid #297128;
    margin-right: 4%;
}

.vocabulary-list .vocabulary-list__commication center a {
    padding: 0 1%;
    margin: 0 7%;
    text-decoration: none;
}

.vocabulary-list .vocabulary-list__imgcommication {
    position: relative;
}

.vocabulary-list__audiocommication a .audio-one, .vocabulary-list__audiocommication a .audio-two, .vocabulary-list__audiocommication a .audio-three, .vocabulary-list__audiocommication a .audio-four {
    position: absolute;
    width: 8vh;
}

.vocabulary-list__audiocommication a .audio-one {
    top: 37%;
}

.vocabulary-list__audiocommication a .audio-two {
    top: 37%;
    right: 43%;
}

.vocabulary-list__audiocommication a .audio-three {
    bottom: 2%;
}

.vocabulary-list__audiocommication a .audio-four {
    bottom: 2%;
    right: 42%;
}
/*-----các thẻ input và buttom----*/
/*buttom submit*/
.vocabulary-list .vocabulary-list__submit {
    position: relative;
    display: flex;
}

    .vocabulary-list .vocabulary-list__submit a img {
        width: 9vh;
        position: relative;
    }

.frame-style .vocabulary-list__submit {
    position: relative;
    display: flex;
    justify-content: center;
}

    .frame-style .vocabulary-list__submit a img {
        width: 6vh;
        position: relative;
    }
/*button chose*/
.vocabulary-letter {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}

    .vocabulary-letter .vocabulary-letter__answer {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        color: black;
        text-decoration: none;
        font-size: 3vh;
        display: flex;
        margin: 1%;
        padding: 1%;
        border: 4px solid #226e54;
        border-radius: 6px;
        background: white;
        width: 7rem;
        justify-content: center;
    }

        .vocabulary-letter .vocabulary-letter__answer:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
        }
/*input nhận biết*/
.vocabulary-item .vocabulary-item__number {
    display: flex;
    justify-content: center;
}


    .vocabulary-item .vocabulary-item__number input {
        width: 4vw;
        text-align: center;
        font-weight: 600;
        font-size: 4vh;
        margin: 0 4%;
        /*box-shadow: 0px 0px 1px 1px green;*/
    }

.vocabulary-item .vocabulary-item__know {
    height: 12vh;
}

.vocabulary-item .vocabulary-item__number .vocabulary-item__text {
    font-size: 3vh;
}
/*active button nhận biết */
.letter__answer--active {
    border: 4px solid blue !important;
}

.input-answer-correct {
    border: 2px solid green !important;
}

.input-answer-uncorrect {
    border: 2px solid red !important;
}
/*-------------------------------js--------------------------------*/
/*function myChonSo(number) {
                                const elements = document.querySelectorAll(".vocabulary-letter__answer");
                                elements.forEach((element) => {
                                    if (element.id === "btnSo" + number) {
                                        element.classList.add("letter__answer--active");
                                    } else {
                                        element.classList.remove("letter__answer--active");
                                    }
                                });

                                $("#txtSoDuocChon").val(number);
                            }*/
/*    buttom nộp bài dưới giữa khung hình */
.vocabulary-list .vocabulary-list__submit {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

    .vocabulary-list .vocabulary-list__submit img {
        width: 7vh;
        position: relative;
    }
/*input số*/
.vocabulary-list .vocabulary-item .vocabulary-item__input {
    display: flex;
    justify-content: center;
}

    .vocabulary-list .vocabulary-item .vocabulary-item__input a input {
        font-size: 3vh;
        width: 3vw;
        text-align: center;
        color: black;
        font-weight: 600;
        background: no-repeat;
        display: block;
    }

    .vocabulary-list .vocabulary-item .vocabulary-item__input .vocabulary-item__input--text {
        font-size: 3vh;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
/*check v và x*/
.btn-check {
    display: flex;
    text-decoration: none;
    width: 3vw;
    height: 4vh;
    color: blue;
    border: 4px solid #256d36;
    border-radius: 5px;
    margin: 5px;
    background: #d8ffcc;
    align-items: center;
    justify-content: center;
}

/*.ti-check, .ti-close {
    color: #246c35;
    font-weight: bold;
}*/

.btn-check-active {
    background: #1672ff;
    font-weight: bold;
}

    .btn-check-active .ti-check, .btn-check-active .ti-close {
        color: #fff;
    }

.btn-check-correct {
    background: green;
    font-weight: bold;
}

    .btn-check-correct .ti-check, .btn-check-correct .ti-close {
        color: #fff;
    }

.btn-check-uncorrect {
    background: red;
    font-weight: bold;
}

    .btn-check-uncorrect .ti-check, .btn-check-correct .ti-close {
        color: #fff;
    }
/*  button có viền màu nâu brow*/
.button-answer__boderBrow {
    border-radius: 5px;
    border: 3px solid rgb(132 81 32);
    padding: 10px;
    color: black;
    display: flex;
    margin: 5px;
    width: 3vw;
    height: 5vh;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    /* display: block; */
    align-items: center;
    justify-content: center;
}
/*.btn-check__tick {
    display: flex;
    text-decoration: none;
    width: 3vw;
    height: 4vh;
    color: blue;
    border: 4px solid #256d36;
    border-radius: 5px;
    margin: 5px;
    background: #d8ffcc;
    align-items: center;
    justify-content: center;
}
.ti-check, .ti-close {
    color: #246c35;
    font-weight: bold;
}

.btn-check__tick-active {
    background: #1672ff;
    font-weight: bold;
}

    .btn-check__tick-active .ti-check, .btn-check__tick-active .ti-close {
        color: #fff;
    }

.btn-check__tick-correct {
    background: green;
    font-weight: bold;
}

    .btn-check__tick-correct .ti-check, .btn-check-correct .ti-close {
        color: #fff;
    }

.btn-check__tick-uncorrect {
    background: red;
    font-weight: bold;
}

    .btn-check__tick-uncorrect .ti-check, .btn-check__tick-correct .ti-close {
        color: #fff;
    }*/


/*mã mới */
.iframe-video iframe {
    width: 100%;
    height: 50vh;
}

.fill-letters {
    display: flex;
}

    .fill-letters .fill-letters-list {
        width: calc(49.999999% - 1rem);
        margin-left: 1rem;
    }

        .fill-letters .fill-letters-list .fill-letters-list__item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 0.75rem;
            font-size: .875rem;
        }

            .fill-letters .fill-letters-list .fill-letters-list__item .fill-letters-list__item-input input[type=text] {
                width: 12vh;
                height: 3vh;
                margin: 0 4px;
                font-size: 2vh;
            }

.--frame-desgin-1 .fill-letters__image {
    max-height: calc(61vh - 140px);
    border-radius: 0.5rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .fill-letters .fill-letters-list .fill-letters-list__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .--frame-desgin-1 .fill-letters__image {
        max-height: calc(95vh - 140px);
        border-radius: 0.5rem;
    }

    .item-set-list .set-5 {
        width: calc(20% - 0.75rem) !important;
    }

    .item-set-list .set-6 {
        width: calc(25% - 0.75rem) !important;
    }

    .game-set-number .set-7 .item-set {
        width: calc(17% - 0.75rem) !important;
    }
}

@media (min-width: 1200px) {
}

.--input-style-1 {
    width: 8vh;
    height: 4vh
}

.--exercise-list-style-4 .exercise-item .--exercise-item-style-1 {
    margin-bottom: 1.5rem;
}

.exercise-list .exercise-item__choise.--text-long {
    margin: 0 0.25rem;
    border: 1px solid #adacac;
    font-weight: 500;
    height: 4vh;
    width: 100%;
    font-size: 3vh;
}

.exercise-list .exercise-item__choise.--checker-tick {
    color: white;
    background: green;
    margin: 0 0.25rem;
    border: 3px solid #62d290;
    line-height: 1;
    border-radius: 0.25rem;
}

.exercise-list .exercise-item__choise.--checker-cancel {
    color: white;
    background: #ff1313;
    margin: 0 0.25rem;
    border: 3px solid #761a19;
    line-height: 1;
    border-radius: 0.25rem;
}

.--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vocabulary-list--items-10 .vocabulary-item {
    height: fit-content;
}

.frame-game-main {
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 6px solid #226e54;
}

.button-answer {
    border-radius: 5px;
    border: 3px solid rgb(132 81 32);
    padding: 10px;
    color: black;
    display: flex;
    height: 5vh;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    /* display: block; */
    align-items: center;
    justify-content: center;
}

.vocabulary-item__input {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.set-5 .exercise-item__choise {
    border: 1px solid #e8e8e8;
    margin: 0 0.25rem;
    padding: 2px;
    display: inline-block;
    color: #212529;
    text-decoration: none;
}

.set-6 .exercise-item__choise {
    border: 1px solid #e8e8e8;
    margin: 0 0.25rem;
    padding: 2px;
    display: inline-block;
    color: #212529;
    text-decoration: none;
}

.item-set-list .set-5 {
    width: calc(22% - 0.75rem);
}

.item-set-list .set-6 {
    width: calc(25% - 0.75rem);
}

.game-set-number .set-7 .item-set {
    width: calc(17% - 0.75rem);
}
/*chỉnh table*/
/* Định dạng bảng */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Định dạng ô tiêu đề */
th {
    border: 1px solid #80808040;
    background-color: lightblue;
    padding: 5px;
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
}

/* Định dạng ô dữ liệu */
td {
    border: 1px solid #80808040;
    padding: 5px;
    text-align: center;
}

/* Định dạng nút check */
.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

    /* Định dạng nút check khi được chọn */
    .check input:checked + .checkmark::after {
        display: block;
    }

/* Định dạng checkmark */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #42b983;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

/* Định dạng checkmark khi được chọn */
.check input:checked + .checkmark {
    background-color: #42b983;
}

/* Định dạng dấu tích */
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/*game chọn chữ */
.game-chonce-letter {
    display: flex;
}

    .game-chonce-letter .exercise-item {
        display: flex;
        flex-direction: column;
        border: 1px;
        width: 20%;
        /* width: calc(20% - 0.75rem); */
        margin: 0.25rem;
        border: 2px solid #226e54;
        border-radius: 0.5rem;
        padding: 0.25rem;
        text-align: center;
        text-decoration: none;
    }

.input-letter input {
    width: 4vh;
    height: 4vh;
    border: 1px solid #212529;
}

.input-border {
    width: 4vh;
    height: 4vh;
    border: 3px solid #222;
}
/*.--exercise-list-share-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
    .--exercise-list-share-5 .exercise-item {
        width: calc(25% - 0.75rem);
        margin: 0.25rem 0;
        border: 2px solid #226e54;
        border-radius: 0.5rem;
        padding: 0.25rem;
        text-align: center;
        text-decoration: none;
    }
        .--exercise-list-share-5 .exercise-item .exercise-item__picture {
            max-height: 13vh;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: center;
            object-position: center;
        }
        .--exercise-list-share-5 .exercise-item .exercise-item__text {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
*/
.exercise-item_images {
    width: 10%;
}

.--style-1 {
    display: flex;
    flex-direction: column;
}

    .--style-1 .exercise {
        font-size: 2vh;
    }

        .--style-1 .exercise input {
            margin: 0.5%;
            width: 5vw;
            height: 4vh;
        }
        .--center {
            display: flex;
            justify-content: center;
        }
.--style-2 {
    line-height: 5vh;
    display: flex;
    flex-direction: column;
}

/*    .--style-2 .exercise {
        font-size: 2vh;
    }

        .--style-2 .exercise input {
            margin: 0.5%;
            width: 5vw;
            height: 4vh;
        }*/

.--center {
    display: flex;
    justify-content: center;
}
.exercise .exercise-image{
    display: flex;
}
.exercise .exercise-image img {
    width: 65%;
    border: 2px solid #226e54;
}
.name-title {
    color: #226e54;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
}

