﻿body {
}

.row {
    display: flex;
    flex-direction: row;
}

.col-6 {
    flex: 1;
}

.block-text_content {
    font-size: 25px;
    margin: 5%;
}

.block-text input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    width: 10%;
}
