﻿body {
}
a {
    cursor: pointer;
}

.ruler-connect {
    position: relative;
    min-height: 167px;
    width: 100%;
}

    .ruler-connect .ruler-connect-img {
        position: absolute;
        top: 0;
        left: 0;
    }
