﻿body {
}
.center-item {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
.keoso[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    /* max-width: 500px;*/
    outline: none;

}

    .keoso[type="range"]:focus,
    .keoso[type="range"]:active,
    .keoso[type="range"]::-moz-focus-inner,
    .keoso[type="range"]::-moz-focus-outer {
        border: 0;
        outline: none;
    }

    .keoso[type="range"]::-moz-range-thumb {
        border: none;
        height: 10px;
        width: 10px;
        background-color: transparent;
        background-image: url("https://storage.googleapis.com/pw-stuff/thumbs-sprite.png");
        background-position: 0 0;
        background-size: cover;
        transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
        cursor: pointer;
    }

        .keoso[type="range"]::-moz-range-thumb:active {
            background-position: 100% 0px;
            transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
        }

    .keoso[type="range"]::-moz-range-track {
        width: 100%;
        height: 20px;
        background: #eee;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .keoso[type="range"]::-moz-range-progress {
        height: 20px;
        background: #4685d7;
        border-radius: 10px;
        cursor: pointer;
    }

    .keoso[type="range"]::-webkit-slider-thumb {
        border: none;
        height: 20px;
        width: 20px;
        background-color: transparent;
        background-image: url("https://storage.googleapis.com/pw-stuff/thumbs-sprite.png");
        background-position: 0 0;
        background-size: cover;
        transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
        cursor: pointer;
        margin-top: -15px;
        -webkit-appearance: none;
    }

        .keoso[type="range"]::-webkit-slider-thumb:active {
            background-position: 100% 0px;
            transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
        }

    .keoso[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 20px;
        background: transparent;
        border-radius: 10px;
        z-index:1;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        -webkit-appearance: none;
    }














.gioihandem[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    /* max-width: 500px;*/
    outline: none;
}

    .gioihandem[type="range"]:focus,
    .gioihandem[type="range"]:active,
    .gioihandem[type="range"]::-moz-focus-inner,
    .gioihandem[type="range"]::-moz-focus-outer {
        border: 0;
        outline: none;
    }

    .gioihandem[type="range"]::-moz-range-thumb {
        border: none;
        height: 50px;
        width: 50px;
        background-color: transparent;
        background-image: url("https://storage.googleapis.com/pw-stuff/thumbs-sprite.png");
        background-position: 0 0;
        background-size: cover;
        transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
        cursor: pointer;
    }

        .gioihandem[type="range"]::-moz-range-thumb:active {
            background-position: 100% 0px;
            transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
        }

    .gioihandem[type="range"]::-moz-range-track {
        width: 100%;
        height: 20px;
        background: #eee;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .gioihandem[type="range"]::-moz-range-progress {
        height: 20px;
        background: #4685d7;
        border-radius: 10px;
        cursor: pointer;
    }

    .gioihandem[type="range"]::-webkit-slider-thumb {
        border: none;
        height: 50px;
        width: 50px;
        background-color: transparent;
        background-image: url("https://storage.googleapis.com/pw-stuff/thumbs-sprite.png");
        background-position: 0 0;
        background-size: cover;
        transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
        cursor: pointer;
        margin-top: -15px;
        -webkit-appearance: none;
    }

        .gioihandem[type="range"]::-webkit-slider-thumb:active {
            background-position: 100% 0px;
            transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
        }

    .gioihandem[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 20px;
        background: #eee;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        -webkit-appearance: none;
    }










.lbll, .lblldem {
    background: #eee;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 14px;
    margin-left: 10px;
    font-family: Roboto, 'Helvetica Neue', Arial;
    font-size: 20px;
    width: 5%;
    text-align: center;
    color: #2968bb;
    font-weight: bold;
    content: '';
    top: -13%;
    right: 30%;
    position: absolute;
    opacity: 1 !important;
}
/*
.lblldem {
    background: #eee;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 14px;
    margin-left: 10px;
    font-family: Roboto, 'Helvetica Neue', Arial;
    font-size: 20px;
    width: 5%;
    text-align: center;
    color: #2968bb;
    font-weight: bold;
    content: '';
    top: -13%;
    left: 27%;
    position: absolute;
    opacity: 1 !important;
}
*/


