﻿/*.block-main img {
    width: 60%;
}*/
a:hover{
    cursor:pointer;
}
.block-know_img {
    width: 60%;
}
.bubble4 {
    position: absolute;
    z-index: 100;
    height: 7%;
    width: 27%;
    padding: 17px;
    position: absolute;
    color: white;
    background-color: #809BAE;
    font-family: "Open Sans Condensed";
    border-top-left-radius: 23px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    top: 96%;
    left: 29%;
    font-size: 96%;
}

    .bubble4 span.the-arrow4 {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 0px solid #809BAE;
        border-bottom: 20px solid #809BAE;
        position: absolute;
        top: 17px;
        left: -20px;
    }
