﻿.image-background {
    position: relative;
    width: 100%;
}
.image-child_left {
    position: absolute;
    width: 41%;
    top: 24%;
    left: 14%;
    z-index: 1;
}

.image-child_right {
    position: absolute;
    width: 31%;
    top: 17%;
    left: 56%;
    z-index: 1;
}