﻿.hidden {
    display: none;
}

.sun_1 {
    position: absolute;
    z-index: 1;
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    top: 10%;
    left: 3%;
}

.flower_1 {
    position: absolute;
    z-index: 1;
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    top: 10%;
    left: 3%;
}

#lesson2_sun_color {
    position: absolute;
    z-index: -1;
    width: 42%;
    top: 10%;
    left: 3%;
}

#lesson3_blue {
    position: absolute;
    z-index: -1;
    width: 42%;
    top: 40%;
    right: 4.5%;
}

.lesson3_right {
    position: absolute;
    z-index: 1;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    top: 58%;
    right: 2%;
}

.lesson3_left {
    position: absolute;
    z-index: 1;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    top: 55%;
    right: 29%;
}

#lesson4_ball {
    position: absolute;
    z-index: -1;
    width: 42%;
    top: 20%;
    right: 30%;
}

.lesson4_right {
    position: absolute;
    z-index: 1;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    top: 25.5%;
    right: 30.5%;
}

.lesson4_left {
    position: absolute;
    z-index: 1;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    top: 30%;
    right: 58%;
}