﻿.image-background {
    position: relative;
    width: 100%;
}

.image-child_left {
    position: absolute;
    width: 41%;
    top: 20%;
    left: 14%;
    z-index: 1;
}

.image-child_right {
    position: absolute;
    width: 29%;
    top: 17%;
    left: 56%;
    z-index: 1;
}

.block-main_les2 .image-left {
    position: absolute;
    width: 33%;
    top: 27%;
    left: 18%;
    z-index: 1;
}

.block-main_les2 .image-right {
    position: absolute;
    width: 36%;
    top: 17%;
    left: 50%;
    z-index: 1;
}

.circle {
    position: absolute;
    z-index: 1;
    width: 10vw;
    height: 10vw;
    background-color: #D5D5DF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.block-main_les3 {
    min-height: 10rem;
}

.block-main_les3--vocab {
    padding: 1%;
    border: 3px solid #226E54;
    color: #226E54;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #80808085;
    text-decoration: none;
}

    .block-main_les3--vocab img {
        width: 100%;
        padding: 2%;
    }



img.item-choose:active {
    box-shadow: 0px 4px 8px #a0a89fa6;
    transform: scale(.98)
}

.block-main_les3--vocab:hover {
    text-decoration: none;
}

.block-main_les3--vocab:active img {
    box-shadow: 0px 4px 8px #a0a89fa6;
    transform: scale(.98)
}
