﻿.block-main{
    position: relative;
}
.content-lesson__three_top {
    top: 18% !important;
    position: absolute !important;
    z-index: 1 !important;
    left: 5%;
}
.content-lesson__three_bottom {
    top: 50% !important;
    position: absolute !important;
    z-index: 1 !important;
    left: 5%;
}
.content-lesson__three_image{
    padding:0 !important;
}
.col-12{
    padding:0;
}
.image-background {
    z-index: -1;
    position: relative !important;
    padding: 0;
}
.content-lesson__four_top {
    top: 5% !important;
    position: absolute !important;
    z-index: 1 !important;
}
.content-lesson__four_bottom {
    position: absolute !important;
    z-index: 1 !important;
    top: 36% !important;
}
.content-lesson__four_img {
    padding-top: 30%;
    padding-left: 9%;
}
.img-water {
    position: absolute !important;
    z-index: 1 !important;
    top: 64% !important;
    width: 47%;
    left: 2%;
}
.water-color {
    position: absolute;
    top: 64%;
    width: 47%;
    z-index: 5;
    left: -1%;
}
.img-walk {
    position: absolute !important;
    /*z-index: 1 !important;*/
    top: 22% !important;
    left: 19%;
    width: 65%;
}
.walk-color {
    position: absolute !important;
    z-index: 1 !important;
    width: 67%;
    top: 22%;
    left: 18%;
}