﻿body {
}
.image-mom-right {
    position: absolute;
    width: 30%;
    top: 16%;
    left: 68%;
    z-index: 1;
}

.image-boy-left {
    position: absolute;
    width: 10%;
    top: 26%;
    left: 13%;
    z-index: 1;
}

.image-dad-between {
    position: absolute;
    width: 12%;
    top: 25%;
    left: 45%;
    z-index: 1;
}

.image-child-right {
    position: absolute;
    width: 31%;
    top: 15%;
    left: 56%;
    z-index: 1;
}

.image-child-left {
    position: absolute;
    width: 31%;
    top: 15%;
    left: 20%;
    z-index: 1;
}

.block-main-pen {
    position: absolute;
    width: 109%;
    top: 12%;
    left: 11%;
    padding: -9px;
    z-index: 1;
}

.girl-dance {
    position: absolute;
    width: 18%;
    left: 17%;
    margin-top: -55%;
    z-index: 1;
}

.girl-square {
    position: absolute;
    width: 18%;
    left: 17%;
    z-index: 1;
    margin-top: -39%;
}

.girl-dancee {
    position: absolute;
    width: 19%;
    left: 71%;
    z-index: 1;
    margin-top: -57%;
}

.girl-circlee {
    margin-top: -40%;
    position: absolute;
    width: 20%;
    left: 70%;
    z-index: 1;
}

.block-main__color {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
}
.block-main__color__image {
    width: 34%;
    left: 15%;
    position: relative;
}
.block_main_color_boy--T--shirt img {
    width: 100%;
    padding: 4%;
}
.block-main__color__image--red {
    position: absolute;
    width: 100%;
    display: none;
}
.block-main__color__image--lemon--yellow {
    position: absolute;
    width: 100%;
    display: none;
}
.block-main__color__image--blue {
    position: absolute;
    width: 100%;
    display: none;
}
.block-main__color__image--yellow {
    position: absolute;
    width: 100%;
    display: none;
}